
/*p {
	font-family: 'helvetica neue', helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid rgba(0, 0, 200, 0.6);
	background: rgba(0, 0, 200, 0.3);
	color: rgba(0, 0, 200, 0.6);
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	border-radius: 10px;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
}*/
/*
.msgBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	background: greenyellow;
	text-align: center;
}

.msgBox p {
	line-height: normal;
	padding: 10px 20px;
	color: red;
}

.msgBox button {
	background: none;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: medium;
	color: black;
	cursor: pointer;

}*/

* {
	margin: 0;
	padding: 0;
}

html {
	/*height: 100%;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-fluid {
	width: 100%;
	height: fit-content;
	margin: 5px auto;
}

.navbar-toggler {
	color: ghostwhite;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;
	display: none;
}


/*media 768*/
@media (max-width: 768px) {
	* {
	margin: 0;
	padding: 0;
}

html {
	/*height: 100%;*/
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

	body {
		background-color: darkgrey;
		width: 100%;
	}

	.flex-container {
		height: 160px;
	} 

	.navbar {
		top: 0;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		margin: 0;
		background-color: rgba(0, 0, 0, 0.3);
		position: fixed;
		/*z-index: 1;*/
		left: 0;
		top: 160px;
		padding: 20px 0;
		width: 100%;
		height: calc(100% - 160px);
		overflow-y: auto;
		left: 100%;
		transition: left 0.3s;
	}



	.nav-link {
		display: flex;		
		flex-direction: row;
		padding: 10px;
		/*background-color: darkgrey;*/
		line-height: 20px;
		margin: 2px;
		color: dimgray;
		padding: 2px;
		/*position: fixed;*/
	}

	.nav-item {
		background-color: rgba(0, 0, 0, 0.1);
		padding: 10px;
		line-height: 70px;
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		padding: 2px;
		margin: 5px;
	border-style: solid;
	text-decoration-line: none;
	/*flood-color: rgba(100, 0, 0, 1.0);*/
	border-width: thin;
	border-color: dimgrey;
	background: rgba(0, 0, 0, 0.2);
	background-position: center;
	background-size: cover;
	padding: 5px;
	border-radius: 5px;
	height: auto;
	position: relative;
	margin: 2px;
	display: inline-flex;
	/* column-count: 3; */
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
	text-align: justify-all;
	align-content: center;
	justify-content: space-around;
	padding: 0;
}

	.nav-link:hover,
	.nav-link_active {
		background: none;
		color: rgba(0, 0, 0, 0.1);
		padding: 2px;
		transition: 0.3s;
		border-radius: 3px;
	}

	.navbar-toggler {
		border: darkgrey;
		border-radius: 5px;
		display: block;
		box-sizing: border-box;
		padding: 1px;
		width: 100px;
		height: 50px;
		margin: 0;
		align-self: center;
		justify-self: right;
		color: white;
		text-decoration: none;
		text-decoration-line: none;
	}

	.navbar-toggler > a {
		color: white;
	}

	.navbar-toggler:hover {
		color: rgba(230, 230, 230, 0.3);
		background-color: rgba(60, 0, 0, 0.2);
		width: auto;
		background-position: center;
		background-size: contain;
		/*height: fit-content;*/
		transition: 0.3s;
	}

	.navbar-nav_visible {
		left: 0;
	}

	.navbar-nav_hide {
		left: 100%;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		justify-content: center;
		justify-items: center;
		align-items: center;
		align-content: center;
		text-align: right;		
	}

	#logo {
		background-image: url('../imagenes/logo2.png');
		position: relative;
		image-rendering: optimizeSpeed;
		background color: rgba(200, 200, 200, 0.9);
		display: grid;
		column-count: 12;
		flex-direction: row;
		flex-wrap: wrap;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		justify-self: center;
		align-self: center;
		height: 100px;
		width: 80%;
		margin: 0;
		padding: 0;
		object-position: center;
	}

	.bann {
	background-image: url("../imagenes/bannerIB.png");	
	background-repeat: no-repeat;	
	background-size: cover;
	width: 100%;
	height: 760px;
	margin: 0;
	padding: 0;
	opacity: 0.7;
	justify-content: center;
	justify-self: center;
	align-content: center;
	align-self: center;
	align-items: center;
	box-sizing: border-box;
}

.container-fluid {
	width: auto;
}

.cont1 .contenido {
	display: flex;
	grid-gap: 0;
	vertical-align: middle;
	margin-bottom: 30px;
}

.contenido {
	display: flex;
	flex-direction: column;
}

.bibi {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

}




#navbarNav {
	display: flex;
	align-items: center;
	object-position: right;
	width: 100%;
	height: fit-content;
	margin: 0;
	justify-content: right;
}


.navbar {
	box-sizing: border-box;
	border-style: double;
	border-color: ghostwhite;
	padding-right: 10px;
	padding-left: 10px;
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(430px, 3fr));
	background-color: rgba(0, 0, 0, 0.7);
	flex-direction: row;
	position: relative;
	height: fit-content;
	margin: 0;
	justify-items: space-between;	
	width: 100%;
	}

.flex-container {
	display: flex;
	position: relative;
	width: 100%;
	height: fit-content;
	align-content: space-between;
	align-items: center;
	justify-content: space-between;
	justify-items: space-between;
	position: relative;
	box-sizing: border-box;
	align-content: center;
	align-items: flex-start;
}

.nave {
	display: flex;
	align-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-items: center;
	align-content: center;
}

.nav-item {
	border-style: solid;
	text-decoration-line: none;
	border-width: thin;
	border-color: dimgrey;
	background: rgba(0, 0, 0, 0.7);
	background-position: center;
	background-size: cover;
	padding: 5px;
	border-radius: 5px;
	height: auto;
	position: relative;
	margin: 2px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

.nav-link {
	flex-basis: auto;
	text-decoration: none;
	padding: 4px;
	font-size: small;
	background-position: center;
	background-size: contain;
	margin: 0;
	box-sizing: content-box;
	color: rgba(20, 2, 3, 0.4);
	justify-items: space-between;
	color: grey;
}

li a.active {
	background-color: rgba(200, 200, 200, 0.1);
	border-radius: 10px;
    /*background-color: #BBCCDD;*/
    color: rgba(200, 200, 200, 0.9);;
}

.nav-item a:hover:not(.active) {
    background-color: #555;
    color: rgba(250, 250, 250, 0.6);
}

.imagen {
	image-rendering: optimizeSpeed;  
	height: 270px;
	width: 99%;
	background-image: url("../imagenes/bannerdef.png");
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	object-fit: cover;
	background-repeat: no-repeat;
	color: white;
	justify-content: space-between;
	margin-bottom: 0;
	padding: 0;
	padding-bottom: 0;
}

#logo {
	image-rendering: optimizeSpeed;
	background: rgba(200, 200, 200, 0.3);
	display: flex;
	background-size: contain;
	background-repeat: no-repeat;
	height: 100px;
	width: 190px;
	background-image: url('../imagenes/logo2.png');
	float: right;
}

body {
	background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', sans-serif;
/*	height: 100vh;*/
}
 /*"Arial",*/
.name1 {
	display: flex;
	background: rgba(105, 105, 105, 0.6);
	background-position: center;
	background-size: contain;
	border-color: dimgrey;
	border-style: solid;
	border-style: outset;
	border-radius: 10px;
	color: blanchedalmond;
	padding: 10px;
	flex-flow: row wrap;
	position: relative;
	float: right;
}

.img2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	justify-content: center;
	margin: 10px;
	padding: auto;
}

.img2 > span {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	box-sizing: content-box;
	width: 100%;
}

.img2 img {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  image-rendering: optimizeSpeed;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 20px;
  background-size: contain;
  border-style: solid;
  border-color: dimgrey;
  border-style: outset;
  margin: 10px;
  object-position: center;
  gap: 20px;
  box-sizing: content-box;
  overflow: auto;
  object-fit: cover;
	align-self: center;
	justify-self: center;
}

h4 {
	font-family: monospace;	
  background-color: rgba(248, 248, 255, 0.6);
  text-align: center;
  background-size: contain;
  padding: 5px;
  font-size: 20px;
  box-shadow: 5px 3px;
  border-radius: 10px;
}


.contacto {
	border-style: solid;
	border-style: outset;
	font-style: oblique;
	text-align: right;
	background-color: grey;
	background-position: center;
	border-color: black;
	box-shadow: 4px 2px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	text-decoration: none;
	color: rgba(0, 0, 0, 1.0);
	border-radius: 20px;
	padding: 15px;
	text-decoration: none;
	user-select: none;
}

div.contacto a:hover {
	background: rgba(250, 250, 250, 0.3);
	border-style: solid;
	border-radius: 10px;
	box-sizing: content-box;
	border-width: thin;
	padding: 5px;
	text-decoration: none;
	transition: 0.5s;
}

.social {
	display: flex;
	position: relative;
	background-color: rgba(0, 0, 0, 0.7);
	background-size: cover;
	background-position: center;
	border-style: solid;
	border-style: outset;
	border-radius: 20px;
	box-shadow: 6px 4px dimgrey;
	border-color: dimgrey;
	margin: 0;
	padding: 2px;
	width: 100%;
	height: 100%;
	justify-items: space-between;
	justify-content: space-between;
	box-sizing: border-box;
}

.social a i {
	color: white;
	margin: 5px;
	font-size: large;
}


.bibi i:hover {
	color: #0000FF;
}

.socialnav {
	display: flex;
	position: relative;
	align-content: flex-start;
	justify-items: left;
	background-position: left;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: left;
	list-style: none;
	color: dimgray;
	padding: 5px;
	margin: 0;
}

.socialnav li a i {
	color: dimgray;
}

.socialnav i:hover {
	color: white;
}

.text1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-size: contain;
	font-size: large;
	text-align: center;
	margin: 0;
	width: fit-content;
	height: fit-content;
	padding: 8px;
}

.mid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: rgba(190, 190, 190, 0.3);
	user-select: none;
	border-radius: 5px;
	margin: 0;
	padding: 0;
}


.row {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: justify-all;
	align-content: space-between;
	justify-content: space-between;
	text-align: center;
	max-width: 100%;
	color: white;
	justify-content: center;
	/*width: 100%;*/
}

.text0 {
	background: rgba(0, 0, 0, 0.9);
	align-content: center;
	text-align: center;
	background-position: center;
	object-position: center;
	margin-bottom: 10px;
}

.dedicados {
	background-image: url('../imagenes/pisosymallas.jpg');
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	height: 250px;
	width: auto;
	margin: 5px;
	padding: 5px;
	gap: 0;
}

.galeria {
	background: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
	border-style: outset;
	margin: 0;
	padding: 0;
	display: grid;
	/*width: auto;*/
	/*grid-template-rows: repeat(auto-fit, minmax(430px, 3fr));	*/
	height: fit-content;
	margin: 5px auto;
	grid-gap: 20px;
	padding: 20px;
	overflow: hidden;
	/*justify-content: space-evenly;
	align-content: space-between;	
	align-items: center;
	align-content: space-between;*/
	box-sizing: border-box;
	/*align-items: stretch;*/
	width: auto;
	/*justify-items: space-evenly;*/
	/*align-items: stretch;*/
	/*align-content: space-around;*/
	/*gap: 90px;*/
}

.linea {
	background: dimgray;
	height: 3px;
	max-width: none;
	display: block;
	margin: 10px;
}

.galeria > a {
	display: inline-block;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-content: space-around;
	justify-content: space-evenly;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	justify-items: space-evenly;
	align-content: space-between;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	height: auto;
	/*gap: 90px;*/
	/*vertical-align: middle;*/
	align-items: stretch;
	/*width: 100%;*/
}

/*.galeria .photos {
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	justify-items: space-evenly;
	justify-items: space-evenly;
	justify-content: space-evenly;
	grid-template-rows: repeat(auto-fit, minmax(430px, 3fr));
}*/

.photos {
	display: flex;
	flex-direction: row;
	position: relative;
	align-content: space-between;
	justify-items: space-evenly;
	width: 100%;
	justify-content: space-evenly;
}

/*.galeria > span {
	max-width: 100%;
	display: inline-block;
	flex-flow: column wrap;
	width: 100%;
	align-content: space-between;
	justify-content: space-evenly;
	object-position: center;
	justify-content: space-evenly;
	align-content: space-around;
}*/

.galeria img {
	image-rendering: optimizeSpeed;
	width: 250px;
	height: 300px;
	margin: 10px;
	object-fit: cover;
	transition: transform 0.5s;
	max-width: 100%;
}

.galeria span {
	display: inline-block;
	align-content: space-between;
	justify-items: space-evenly;
	width: 100%;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	height: auto;
}

.galeria a:hover img {
	transform: scale3d(2.0, 1.0, 5.9);

}

.light-box {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.light-box img {
	width: 75vw;
	max-height: 70vh;
	object-fit: cover;
}

.light-box:target {
	transform: scale(1.0);
}

.close {
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	background: #851919;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
}

.next {
	display: block;
	background: #851919;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	background-position: center;
}

.container {
	/*display: flex;*/
	width: auto;
	height: auto;
	margin: 0;
	padding: 0;
}

.cont1 {
	display: grid;
	/*flex-direction: row;*/
	text-align: center;
	grid-template-columns: repeat(auto-fit, minmax(430px, 3fr));
	user-select: none;
	margin: 1px;
	width: 90%;
	/*max-width: 2000px;*/
	/*columns: 3;*/
	height: fit-content;
	margin: 0 auto;
	grid-gap: 10px;
	padding: 0;
	overflow: hidden;
	justify-content: center;
	align-content: center;
	justify-items: center;
	box-sizing: content-box;
	grid-gap: 0;
	text-align: center;
	/*align-items: flex-start;*/
	columns: 3;
}


/*prueba1*/
.text1 {
	color: rgb(210, 150, 0);
	text-align: center;
	width: auto;
	/*align-items: center;*/
	/*vertical-align: middle;*/
}

.cont1 > div
.cont1 .contenido {
	text-align: center;
	align-content: center;
	display: grid;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	grid-gap: 0;
	/*vertical-align: baseline;*/
	columns: 3;
	width: 100%;
	grid-template-columns: repeat(auto-fit, minmax(430px, 3fr));
}

.cont1 .contenido {
	/*grid-column: span 3;*/
	padding: 5px;
	align-content: center;
	justify-content: center;
	/*align-items: flex-start;*/
	justify-items: center;
	text-align: center;
	display: grid;
	flex-direction: row;
	grid-gap: 0;
	/*vertical-align: middle;*/
	margin-bottom: 30px;
	grid-template-rows: auto auto auto;
	columns: 3;
	grid-gap: 20px;
}

.contenido {
	display: grid;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	user-select: none;
	margin: 0 auto;
	grid-gap: 0;
	justify-content: center;
	justify-items: center;
	/*vertical-align: baseline;*/
	text-align: center;
	align-content: center;
	/*align-items: flex-start;*/
	width: 70%;
	max-width: 90%;
	columns: 3;
	/*grid-template-rows: repeat(auto-fit, minmax(430px, 3fr));*/
	grid-gap: 20px;
}


.cont1 .tt1 {
	flex-wrap: wrap;
	display: flex;
	flex-direction: column;
	text-align: justify;
	justify-content: center;
	text-align: center;
	padding: 0;
	margin: 0;
	/*width: 90%;*/
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	font-size: small
}

.cont1 .tt2 {
	display: block;
	flex-direction: column;
	flex-wrap: wrap;
	/*text-align: center;*/
	/*justify-content: stretch;*/
	/*text-align: center;*/
	/*justify-content: center;*/
	margin: 0;
	/*width: 50%;*/
	padding: 5px;
	grid-row: 2 / 3;
	grid-column: 1;
	font-size: small;
	/*line-height: 20px;*/
	grid-column-gap: 10px;
	padding: 10px;
}

.cont1 .tt3 {
	display: block;
	flex-direction: column;
	flex-wrap: wrap;
	text-align-last: center;
	padding: 5px;
	margin: 0;
	/*width: 50%;*/
	/*height: 100%;*/
	grid-column: 2;
	grid-row: 2;
	font-size: small;
	/*line-height: 20px;*/
	grid-column-gap: 10px;
	padding: 10px;
}

.valores {
	display: grid;
	flex-direction: column;
	grid-template-columns: auto auto;
	padding-left: 0;
	/*width: 80%;*/
	columns: 2;
	justify-content: space-evenly;
	padding: 0;
	margin: 0;
	grid-gap: 10px;
	padding-left: 0;
}

.valores > li {
	padding-left: 0;
	list-style: none;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 0;
	align-content: stretch;
}




/*CONTACT PAGE*/

.bann {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	background-image: url("../imagenes/banner2.png");	
	background-repeat: no-repeat;	
	background-size: contain;
	background-position: center;
	object-fit: cover;
	width: auto;
	height: 800px;
	margin: auto;
	padding: 0;
	opacity: 0.7;
	align-content: center;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	align-self: center;
	justify-self: center;

}

.p-5 {
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-content: center;
	align-self: center;
	line-height: 20px;
	align-self: center;
	justify-self: center;
	margin: 0;
	vertical-align: middle;
	/*top: 20%;
	left: 10%;*/
	z-index: 1;
}

