
/*p {
	font-family: 'helvetica neue', helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid rgba(0, 0, 200, 0.6);
	background: rgba(0, 0, 200, 0.3);
	color: rgba(0, 0, 200, 0.6);
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	border-radius: 10px;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
}*/
/*
.msgBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	background: greenyellow;
	text-align: center;
}

.msgBox p {
	line-height: normal;
	padding: 10px 20px;
	color: red;
}

.msgBox button {
	background: none;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: medium;
	color: black;
	cursor: pointer;

}*/

html {
/*	width: 100%;
	height: 100%;*/
	margin: 0;
	padding: 0;
}
.navbar-toggler {
	color: ghostwhite;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;
	display: none;
}

/*media*/
@media (max-width: 768px) {
	body {
		background-color: darkgrey;
	}

/*	.logo {
		display: flex;
		position: sticky;	
		float: right;
		width: 140px;
		height: 60px;
	}*/
	.flex-container {
		height: 160px;
	} 

	.navbar {
		top: 0;
		z-index: 1;
		background-color: rgba(0, 0, 0, 0.3);
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		margin: 0;
		background-color: rgba(0, 0, 0, 0.3);
		position: fixed;
		/*z-index: 1;*/
		left: 0;
		top: 160px;
		padding: 20px 0;
		width: 100%;
		height: calc(100% - 160px);
		overflow-y: auto;

		left: 100%;
		transition: left 0.3s;
	}

	.nav-link {
		display: flex;		
		flex-direction: row;
		padding: 10px;
		/*background-color: darkgrey;*/
		line-height: 20px;
		margin: 2px;
		color: dimgray;
		padding: 2px;
		/*position: fixed;*/
	}

	.nav-item {
		background-color: rgba(0, 0, 0, 0.1);
		padding: 10px;
		line-height: 70px;
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		padding: 2px;
		margin: 5px;
	border-style: solid;
	text-decoration-line: none;
	/*flood-color: rgba(100, 0, 0, 1.0);*/
	border-width: thin;
	border-color: dimgrey;
	background: rgba(0, 0, 0, 0.7);
	background-position: center;
	background-size: cover;
	padding: 5px;
	border-radius: 5px;
	height: auto;
	position: relative;
	margin: 2px;
	display: inline-flex;
	/* column-count: 3; */
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
	text-align: justify-all;
	align-content: center;
	justify-content: space-around;
	padding: 0;
	/*	align-content: flex-end;
	justify-items: flex-end;
	align-se100%;lf: flex-end;
	justify-self: right;
	position: relative;
	object-position: right;
	float: right;*/
}

	.nav-link:hover,
	.nav-link_active {
		background: none;
		color: rgba(0, 0, 0, 0.2);
		padding: 2px;
		transition: 0.3s;
	}

	.navbar-toggler {
		float: right;
		border: darkgrey;
		border-radius: 5px;
		/*border-style: solid;
		border-width: thin;*/
		display: block;
		box-sizing: border-box;
		padding: 1px;
		height: 50px;
		margin: 0;
	}

	.navbar-toggler:hover {
		color: rgba(230, 230, 230, 0.3);
		background-color: rgba(0, 0, 0, 0.2);
	}

	.navbar-nav_visible {
		left: 0;
	}

}



#navbarNav {
	display: flex;
	align-items: center;
/*justify-content: space-between;
	justify-items: space-between;
	align-content: space-around;*/
	object-position: right;
	width: 100%;
	height: fit-content;
	margin: 0;
	justify-content: right;
}


.navbar {
	box-sizing: border-box;
	border-style: double;
	border-color: ghostwhite;
	padding-right: 10px;
	padding-left: 10px;
	/*background: rgba(105, 105, 105, 0.9);*/
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(460px, 3fr));
		/*flex: 1 1 100%;*/
	background-color: rgba(0, 0, 0, 0.9);
	/*align-content: flex-end;
	align-self: flex-end;*/
	flex-direction: row;
	position: relative;
	height: fit-content;
	margin: 0;
	/*align-content: space-between;
	justify-content: space-between;*/
	justify-items: space-between;	
	/*align-items: center;
*/	width: 100%;
	justify-content: space-between;
	object-position: right;
	align-content: flex-start;
	}

.flex-container {
	display: flex;
	position: relative;
	width: 100%;
	height: fit-content;
	align-content: space-between;
	align-items: center;
	justify-content: space-between;
	justify-items: space-between;
	position: relative;
	box-sizing: border-box;
	align-content: center;
	align-items: flex-start;
}

.nave {
	display: flex;
	align-content: space-between;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-items: center;
	align-content: center;
}

/* .container-fluid {
	flex-flow: row wrap;
	align-items: center;
	align-content: space-between;
	justify-content: center;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(412px, 3fr));

} */

.nav-item {
	border-style: solid;
	text-decoration-line: none;
	/*flood-color: rgba(100, 0, 0, 1.0);*/
	border-width: thin;
	border-color: dimgrey;
	background: rgba(0, 0, 0, 0.7);
	background-position: center;
	background-size: cover;
	padding: 5px;
	border-radius: 5px;
	height: auto;
	position: relative;
	margin: 2px;
	display: inline-flex;
	/* column-count: 3; */
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	/*width: 100%;
*/	/*text-align: justify-all;
	align-content: center;
	justify-content: space-around;
	padding: 0;*/
	/*	align-content: flex-end;
	justify-items: flex-end;
	align-se100%;lf: flex-end;
	justify-self: right;
	position: relative;
	object-position: right;
	float: right;*/
}

.nav-link {
	flex-basis: auto;
	text-decoration: none;
	padding: 4px;
	font-size: small;
	background-position: center;
	background-size: contain;
	/*text-align-last: right;*/
	/*flex-grow: 2;*/
	/*align-content: space-around;*/
	margin: 0;
	box-sizing: content-box;
	color: rgba(20, 2, 3, 0.4);
	justify-items: space-between;
	color: grey;
}

li a.active {
	background-color: rgba(200, 200, 200, 0.6);
	border-radius: 10px;
    /*background-color: #BBCCDD;*/
    color: #fff;
}

.nav-item a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.imagen {
	image-rendering: optimizeSpeed;  
	height: 270px;
	width: 99%;
	/*background: grey;*/
	background-size: cover;
	background-position: center;
	background-image: url('../imagenes/pisosymallas.jpg');
	box-sizing: border-box;
	margin: auto;
	/*position: absolute;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	object-fit: cover;
	background-repeat: no-repeat;
	color: white;
	justify-content: space-between;
	/*justify-items: space-between;
	justify-self: space-between;*/
}

#logo {
	image-rendering: optimizeSpeed;
	background: rgba(200, 200, 200, 0.9);
	/*background-position: right;*/
	display: flex;
	/*box-sizing: border-box;*/
	/*flex-flow: row-reverse;*/
	/*flex-wrap: nowrap;*/
	/*align-content: space-between;*/
	/*align-content: flex-start;*/
	/*display: inline-flex;
	align-items: flex-end;*/
	background-size: contain;
	/*position: relative;*/
	background-repeat: no-repeat;
	/*align-items: flex-start;*/
	height: 100px;
	width: 190px;
	background-image: url('../imagenes/logo2.png');
	float: right;
	/*flex-direction: row-reverse;*/
	/*flex-flow: row-reverse;
	flex-wrap: wrap-reverse;
	align-content: space-between;
	object-position: right;*/
	
	/*flex-direction: column-reverse;
	vertical-align: middle;
	align-items: flex-end;*/
}

body {
	background: #bbbaab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: sans-serif;
}

.name1 {
	display: flex;
	background: rgba(105, 105, 105, 0.6);
	background-position: center;
	background-size: contain;
	border-color: dimgrey;
	border-style: solid;
	border-style: outset;
	border-radius: 10px;
	color: blanchedalmond;
	padding: 10px;
	flex-flow: row wrap;
	position: relative;
	float: right;
}

.img2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	/* background: rgba(85, 85, 85, 0.1);
	background-position: contain; */
	justify-content: center;
	/* object-position: center; */
	margin: 10px;
	padding: auto;
}

/* section div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	justify-content: center;
} */

.img2 > span {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	box-sizing: content-box;
	width: 100%;
}

.img2 img {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  image-rendering: optimizeSpeed;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 20px;
  background-size: contain;
  /*backgroud-position: right;*/
  border-style: solid;
  border-color: dimgrey;
  border-style: outset;
  margin: 10px;
  object-position: center;
  /*overflow: auto;*/
  gap: 20px;
  box-sizing: content-box;
  overflow: auto;
  object-fit: cover;
	align-self: center;
	justify-self: center;
}

/* img {
	/*object-fit: cover;
	grid-auto-columns: auto;*/
    /* object-fit: cover;
    align-content: center;
    gap: 20px;
    align-items: baseline;
    display: inline-block; */
    /*will-change: scroll-position;*/
    /* margin: 0 auto;
    align-items: center;
} */

h4 {
	font-family: monospace;	
    background-color: rgba(248, 248, 255, 0.6);
  text-align: center;
  background-size: contain;
  padding: 5px;
  font-size: 20px;
  box-shadow: 5px 3px;
  border-radius: 10px;
}



.container {
	background-color: rgba(0, 0, 0, 0.7);
	background-size: cover;
	border-style: outset;
	border-width: 5px;
	border-color: darkgray;
	border-radius: 5px;	
	padding: 15px;
	height: fit-content;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: auto;
	width: 100%;
	box-sizing: border-box;
	text-decoration: none;
	justify-content: space-between;
	align-content: flex-end;
}

.contacto {
	border-style: solid;
	border-style: outset;
	font-style: oblique;
	text-align: right;
	background-color: grey;
	background-position: right;
	/*align-content: space-between;*/
	border-color: black;
	box-shadow: 4px 2px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	text-decoration: none;
	color: rgba(0, 0, 0, 1.0);
	border-radius: 20px;
	padding: 10px;
	flex-direction: row;
	line-height: normal;
	height: fit-content;
	text-decoration: none;

}

div.contacto a:hover {
	background: rgba(250, 250, 250, 0.3);
	border-style: solid;
	border-radius: 10px;
	box-sizing: content-box;
	border-width: thin;
	padding: 5px;
	text-decoration: none;
	transition: 0.5s;
	/*font-display: block;
	height: fit-content;
	justify-content: center;
	justify-items: center;
	align-content: center;*/
}

.social {
	/*background: grey;
	background-size: contain;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-between;
	list-style: none;
	justify-self: left;
	justify-content: space-between;
	position: absolute;
}

.social a i {
	color: white;
	margin: 5px;
	font-size: large;
}

div section a i:hover {
	color: #0000FF;
}

.socialnav {
	display: flex;
	position: relative;
	align-content: flex-start;
	justify-items: left;
	/*justify-content: left;
*/	background-position: left;
	/*flex-flow: wrap-reverse;*/
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: left;
	list-style: none;
	color: dimgray;
	align-items: flex-start;
	justify-self: left;
}

.socialnav li a i {
	color: dimgray;
}

.socialnav i:hover {
	color: white;
}

/*.socialnav, ul {
	list-style: none;
	display: flex;
}*/

/*.container-fluid {
	display: flex;
	vertical-align: text-top;*/
	/*align-content: space-between;*/

#cont1 {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(412px, 2fr));
	text-align: center;
	justify-items: center;
	align-content: center;

}

.text1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background: rgba(77, 70, 70, 0.0);
	background-size: contain;
	border-style: solid;
	font-size: large;
	/*background: grey;*/
	text-align: center;
	color: rgb(0, 0, 0);
	/*font-style: oblique;*/
	font: bold;
	font: bolder;
	border-radius: 10px;
	border-color: rgba(128, 128, 128,0.1);
	border-style: outset;
	margin: 0;
	width: fit-content;
	padding: 8px;
	/*vertical-align: middle;
	align-items: center;
	justify-items: center;
	justify-content: center;
	vertical-align: baseline;
	line-height: normal;

	align-content: center;
	box-sizing: content-box;*/
	/*height: 170px;*/
	/*vertical-align: middle;*/
}


/*.ti {
	background: white;
	display: flex;	
	width: 100%;
	align-content: space-between;
	flex-direction: row;
	text-align: center;
	object-position: center;
	align-items: flex-end;
	float: right;*/
	/*flex-direction: column;*/
	/*display: inline-flex;
	flex-direction: row-reverse;
	align-content: space-between;*/
	/*justify-content: space-between;
	text-align: center;}*/


.mid {
	/*display: flex;
	flex-flow: row;
	flex-grow: ;
	flex-wrap: nowrap;
	flex-basis: auto;*/
	background: rgba(190, 190, 190, 0.3);
	user-select: none;
	perspective: 150px;
	transform-style: preserve-3d;
  transition: ;	/*flex-direction: row;
	flex-flow: row;
	box-sizing: content-box;*/
	/*align-items: flex-start;
	align-content: center;*/
	display: inline-flex;
	border-radius: 5px;
	/*flex-direction: column;*/
	/*align-content: space-between;*/
	/*text-align: justify-all;
	text-anchor: middle;*/
}

.row {
	/*column-count: 2;
	text-align: center;
	vertical-align: text-bottom;*/
	display: inline-flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: justify-all;
	align-content: space-between;
	justify-content: space-between;
	text-align: center;
	/* width: 100%; */
	/*text-align: center;
	justify-content: space-between;*/
	color: white;
	/*justify-content: space-between;*/
	/*justify-items: center;
	align-content: center;*/
	justify-content: center;
	/*width: 100%;*/
	/*align-content: space-between;
	text-align: justify-all;
	text-anchor: middle;*/
}

.text0 {
	color: dimgray;
	background: rgba(250, 250, 250, 0.6);
	align-content: center;
	text-align: center;
	background-position: center;
	object-position: center;
}

.galeria {
	background: rgba(0, 0, 0, 0.1);
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
	border-style: outset;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	display: grid;
	/*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
	width: auto;
	/*grid-auto-flow: row;
	grid-auto-rows: auto;*/
	grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));	
	height: fit-content;
	margin: 0 auto;
	grid-gap: 20px;
	padding: 40px;
	overflow: hidden;
	justify-content: center;
	align-content: space-between;	
	align-items: center;
	align-content: center;
	box-sizing: content-box;
	object-position: center;
	column-width: auto;
	/* align-items: center; */
	/*grid-template-columns: repeat(1, 1fr);*/
	/*grid-template-columns: minmax(100px, 1fr);*/
	/*grid-auto-columns: auto;*/
}

.linea {
	background: dimgray;
	height: 3px;
	max-width: none;
	display: block;
	margin: 10px;
}

.galeria > a {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	align-content: space-between;
	justify-content: space-between;
	vertical-align: middle;
}

.galeria > span {
	max-width: 100%;
	display: block;
	flex-flow: column wrap;
	align-content: center;
	justify-content: center;
	object-position: center;
	justify-content: space-between;
	align-content: space-between;

}

.galeria img {
	image-rendering: optimizeSpeed;
	width: 300px;
	/*vertical-align: top;*/
	height: 350px;
	margin: 7px;
	object-fit: cover;
	transition: transform 0.5s;
	max-width: 100%;
}

.galeria a:hover img {
	/*filter: blur(1px);*/
	transform: scale3d(2.0, 1.0, 5.9);

}

.light-box {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.light-box img {
	width: 75vw;
	max-height: 70vh;
	object-fit: cover;
}

.light-box:target {
	transform: scale(1.0);
}

.close {
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	background: #851919;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
	/*font-size: medium;*/
}

.next {
	display: block;
	background: #851919;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	background-position: center;
}

#tt1 {
	/* display: flex;
	flex-direction: column;
	flex-wrap: wrap; */
	display: grid;
	column-count: 5;
	padding: 2%;
	height: fit-content;
	color: dimgrey;
	justify-items: center;
	/* width: 100%; */
}

#tt2 {
	/* display: flex;
	flex-direction: column;
	flex-wrap: wrap; */
	display: grid;
	column-count: 5;
	padding: 2%;
	height: fit-content;
	color: dimgrey;
	justify-items: center;
	/* width: 100%; */
}

.galeria span {
	display: inline-block;
	justify-content: center;
	align-content: center;
	/*min-width: auto;
	width: auto;*/
}



/*CONTACT PAGE*/

.bann {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	background-image: url("../imagenes/bannerIB.png");	
	background-repeat: no-repeat;	
	background-size: cover;
	/*object-position: center;*/
	/*object-fit: cover;*/
	width: 100%;
	height: 760px;
	margin: 0;
	padding: 0;
	opacity: 0.7;
/*	justify-content: center;
	justify-self: center;
	align-content: center;
	align-self: center;
	align-items: center;
	box-sizing: border-box;*/

}

.p-5 {
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-content: center;
	align-self: center;

	align-self: center;
	justify-self: center;
}

