h2 {
	text-align: center;
	font-size: xx-large;
	color: darkgray;
    border-style: outset;
    border-radius: 5px;
    border-width: 10px;
}

#fondo {
	background-size: contain;
	height: 120px;
	width: 200px;
	background-image: url('img/logo2.png');
	background-color: ghostwhite;
 	opacity: 0.8;
 	background-repeat: no-repeat;
}

#fondo2 {
	background-size: cover;
	height: 250px;
	background-image: url('img/Pisosymallas.jpg');
	opacity: 1.0;
    background-repeat: no-repeat;
	background-position: center;
}

#imagen {
	background-color: gainsboro;
	border-radius: 5px;
	background-position: center;
	background-image: url('img/logo2.png');
	background-repeat: no-repeat;
	background-size: contain;
	opacity: 0.1;
	border-style: groove;
	background-position: right;

}

#imagen1 {
	background-color: gainsboro;
	border: solid;
	border-width: thin;
	border-color: darkgoldenrod;
	text-align: center;
	image-rendering: optimizeQuality;
	align-content: center;
	animation: ease;
	padding: 10px;
	margin: 30px;
}

h1 {
	color: blanchedalmond;
	font-display: fallback;
	text-decoration-line: underline;
	font-style: oblique;
	text-transform: capitalize;
	flood-color: darkgray;
	text-shadow: black;
	text-decoration-style: double;
}

.logo9 {
	opacity: 0.9;
	background-blend-mode: luminosity;
	align-content: flex-end;
    text-align: center;
	text-decoration-color: blanchedalmond;
	background-position: center;
	/*background-image: url('img/logo2.png');*/
	background-size: ;
	border-radius: 10px;
	margin: 20px;
	padding: 10px;
	background-color: darkgrey;
	border-style: inset;
    border-radius: 10px;
    border-width: 5px;
	object-position: top;
	text-shadow: black;
    color: whitesmoke;
}

.number {
	
   
	border-style: outset;
	border-width: 5px;
	border-color: darkgoldenrod;
	border-radius: 5px;
	background-color: rgba(184,134,11,0.6);
	background-size: contain;
	padding: 5px;
	height: 150px;
}


}
.texto {
    font-size: smaller;
	
}

.texto2 {

}
.tituc {
	column-rule-style: solid;
	text-align: center;
	color: ghostwhite;
    background-color: rgba(112,128,144,0.4);
    border-radius: 70px;
    border-style: outset;
    border-color: rgba(184,134,11,0.8);
    border-width: 3px;
}

