@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background: #ADA996;   /*fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	height: 100lvh;
}

.div_class {
	display: flex;
	position: relative;
	align-items: center;
	color: white;
	justify-content: center;
	font-weight: 700;

}

.icon {
	width: 48px;
	height: 48px;
}


.publicidadIB {
	display: flex;
	flex-direction: row;
	position: fixed;
	background-image: url('../img/terrenonew.png') !important;
	image-rendering: optimizeSpeed;
	background-position: top;
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 2000;
	object-fit: fill;
	text-align: center;
	cursor: pointer;
	width: 300px;
	height: 600px;
	padding: 5px;
	margin: 0;
	object-position: center;
}

.terreno_invisible {
	right: 0;
}


.publicidadIB figcaption {
	color: white;
	display: flex;
	flex-direction: row-reverse;
	position: relative;
	background-color: rgba(0, 0, 0, 0.4);
	width: auto;
	height: 30px;
	padding: 5px;
	margin: 0;
}

.closeP {
	display: none;
	position: fixed;
	flex-direction: row-reverse;
	color: #2B2B2B;;
	background-color: rgba(250, 250, 250, 1.0);
	height: fit-content;
	cursor: context-menu;
	right: 0;
	padding: 2px;
	transform: rotateZ(45deg);
	font-size: x-small;
	z-index: 3000;
}



#imagen2 {
	display: flex;
	position: relative;
	background-image: url('../img/pisosymallas.jpg');
	background-size: cover;
	background-position: center;
	object-fit: cover;
	width: 100%;
	height: 230px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
}


.navbar-toggler {
	color: dimgrey;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0;
	line-height: 60px;
	cursor: pointer;
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0;
	justify-self: flex-end;
	height: auto;
	width: auto;
	align-self: end;
}


.navbar-toggler i:hover {
	color: goldenrod;
}


.navbar .navbar-nav {
	display: flex;
	position: relative;
	flex-direction: row;
	width: auto;
	margin: 0;
	object-position: right;
	background-color: rgba(0, 0, 0, 0.1);
	background-size: contain;
	box-shadow: 1px 1px 3px grey;
	padding: 5px;
}


.navbar-nav > ul {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
	align-content: flex-end;
	justify-content: flex-end;
	font-size: xx-small;
	border-radius: 5px;
}


.navbar-collapse {
	display: inline-flex;
	position: relative;
	flex-direction: row;
	z-index: 1000;
	margin: 10px;
	gap: 10px;
	align-content: flex-end;
	justify-content: flex-end;
	justify-items: center;
	object-position: right;
}



/*media 768*/


.navbar {
	background-size: cover;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	height: 150px;
	justify-items: center;
	margin: 0;
	padding: 2px;
	align-items: center;
}




.navbar-nav .nav-item {
	text-decoration-line: none;
	background-position: center;
	background-size: contain;
	padding: 2px;
	border-radius: 5px;
	padding: 0;
	position: relative;
	margin: 0 2px;
	display: inline-flex;
	flex-flow: row wrap;
	text-align: center;
}

.nav-item .nav-link {
	padding: 2px;
	margin: 2px;
	font-size: x-small;
}

.nav-link {
	text-decoration: none;
	font-size: x-small;
	background-size: contain;
	margin: auto;
	color: black;
	text-transform: uppercase;
}



li a.active {
	border-radius: 3px;
  background-color: rgba(140, 150, 160, 0.9);
  padding: 3px;
}

.nav-item a:hover:not(.active) {
  background-color: rgba(170, 170, 170, 0.6);
  color: rgba(250, 250, 250, 0.9);
}

.imagen {
	height: 366px;
	width: 100%;
	background-image: url("../img/bannerdef.png");
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	object-fit: cover;
	background-repeat: no-repeat;
	color: white;
	justify-content: space-between;
	margin: 0;
	position: relative;
}

.logo {
	display: flex;
	position: relative;
	height: 170px;
	width: 300px;
	margin: 0;
	align-content: center;
	justify-content: center;
	justify-items: center;
	object-fit: fill;
	image-rendering: optimizeQuality;
}


 /*"Arial",*/
.name1 {
	display: flex;
	background: rgba(105, 105, 105, 0.6);
	background-position: center;
	background-size: contain;
	border-color: dimgrey;
	border-style: solid;
	border-style: outset;
	border-radius: 10px;
	color: blanchedalmond;
	padding: 10px;
	flex-flow: row wrap;
	position: relative;
	float: right;
}

.img2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	justify-content: center;
	padding: auto;
}


.img2 span {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	box-sizing: border-box;
	width: 100%;
	text-decoration: none;
}


.img2 img {
  display: inline-block;
  flex-direction: column;
  flex-wrap: wrap;
  image-rendering: optimizeSpeed;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 10px;
  background-size: cover;
  margin: 10px;
  object-position: center;
  overflow: auto;
  object-fit: fill;
}

h4 {
	font-family: serif;	
  background-color: rgba(248, 248, 255, 0.6);
  text-align: center;
  background-size: contain;
  padding: 5px;
  font-size: 20px;
  box-shadow: 5px 3px;
  border-radius: 10px;
}


.contacto {
	position: static;
	text-align: left;
	text-decoration: none;
	color: white;
	padding: 15px;
	text-decoration: none;
	user-select: none;
	width: auto;
}

div.contacto a:hover {
	border-radius: 5px;
	box-sizing: content-box;
	box-shadow: 1px 2px 3px 4px dimgrey;
	padding: 5px;
	text-decoration: none;
	transition: 0.5s;
}

.social a i {
	color: white;
	margin: 0;
	font-size: large;
}


.bibi i:hover {
	color: #0000FF;
}

.socialnav {
	display: flex;
	position: relative;
	align-content: center;
	justify-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: left;
	list-style: none;
	padding: 5px;
	margin: 0 2px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	align-content: center;
}

.socialnav li {
	display: inline-flex;
	flex-direction: column;
	list-style: none;
	align-content: center;
	gap: 10px;
}

.socialnav li a i {
	color: white;
	margin: 2px;
}

.socialnav i:hover {
	color: blue;
}

.text1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-size: contain;
	font-size: large;
	text-align: center;
	margin: 0;
	width: fit-content;
	height: fit-content;
	padding: 8px;
}

.mid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: rgba(190, 190, 190, 0.3);
	user-select: none;
	border-radius: 5px;
	margin: 0;
	padding: 0;
}

.text0 {
	background: rgba(0, 0, 0, 0.9);
	align-content: center;
	text-align: center;
	background-position: center;
	object-position: center;
	margin-bottom: 10px;
}


.linea {
	background: dimgray;
	height: 3px;
	max-width: none;
	display: block;
	margin: 10px 0 0 0;
}


.fotos {
	box-sizing: border-box;
}


.fotos .photos {
	display: inline-block;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-items: center;
	max-width: 300px;
	height: 150px;
	margin: 10px auto;
	padding: 0;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 10px 10px;
}

.photos i:hover {
	color: black;
	text-decoration: none;
	text-shadow: none;
	box-shadow: 0 0 40px grey;
}


.photos img {
	image-rendering: optimizeSpeed;
	width: 80px;
	height: 80px;
	margin: 0;
	position: relative;
	object-fit: cover;
	padding: 5px;
	align-content: center;
	justify-content: center;
}

.photos a:hover img {
	transform: scale3d(2.0, 1.0, 5.9);

}

.light-box {
	position: fixed;
	top: 30px;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 90vh;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	backface-visibility: hidden;
}

.light-box img {
	width: 75vw;
	max-height: 70vh;
	background: center;
	object-fit: fill;
}

.light-box:target {
	transform: scale(1.0);
}

.close {
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
}

.light-box a:hover {
	color: goldenrod;
}


.next {
	display: block;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	background-position: center;
}

/*CONTACT PAGE*/
.banner {
	background-image: url("../img/bannerIB.png");
	background-color: rgba(0, 0, 0, 0.3); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: fill;
	margin: 0;
	padding: 0;
	width: 100%;
	height: fit-content;
}

.bann {
	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 0;
	opacity: 0.8;
}

.p5 {
	background-color: rgba(0, 0, 0, 0.3);
	display: block;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-content: center;
	align-self: center;
	align-self: center;
	justify-self: center;
	margin: 0 auto;
	bottom: 20%;
	width: 100%;
	height: fit-content;
}

.card {
	display: block;
	flex-direction: column;
	position: relative;
	box-sizing: border-box;
	padding: 0;
}

.boton {
	display: flex;
	flex-direction: row;
	position: relative;
	object-position: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.bibi a > i {
	display: block;
	margin: 5px;
	gap: 10px;
	color: white;
}

.photos i {
	color: gray;
	filter: opacity(70%);
}


.cuerpo {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 50px;
	margin-bottom: 100px;
}


.ladoB {
	display: flex;
	margin: 0;
	position: relative;
}


.side {
	display: block;
	flex-direction: row;
	position: relative;
	width: 30%;
}

.bann {
	width: 100%;
	margin: 0 auto;
}



/*MISION*/

.ladoA1 {
	display: flex;
	position: static;
	flex-direction: row;
	justify-content: center;
	width: auto;
	margin: 0;
	padding: 5px;
	justify-content: flex-start;
	border-radius: 2px;
	background-color: rgba(245, 245, 245, 0.5);
	transition: transform 0.3s ease-in-out;
}

.ladoA1 a {
	text-decoration: none;
	color: white;
}


#misionB,  
#misionB1,
#misionB2 {
	background: none;
	border-style: none;
	color: dimgrey;
}

#misionB:hover,  
#misionB1:hover,
#misionB2:hover {
	background: rgba(184, 134, 11, 0.5);
	border-style: none;
	border-radius: 10px;
	color: white;
}



.valoresa1 {
	margin: 0;
	padding: 3px;
	list-style: none;
}

.tt0a1 {
	margin: 100px auto;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(130, 140, 120, 0.3);
	border-radius: 10px;
	transition: transform 0.8s ease-in-out;
	width: auto;
	height: 50vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	margin: 20px 20px;
	padding: 25px;
	color: #1B1C1E;
	box-shadow: 0px 8px 16px rgba(170, 180, 90, 0.8);
	text-shadow: 1px 1px 1px whitesmoke;
}

.tt1a1 {
	position: relative;
}

.tt2a1 {
	position: relative;
}

.tt3a1 {
	position: relative;
}


.tt0a1:target {
	text-decoration: none;
	color: #1B1C1E;
	transform: scale(1.0);
}

#mis {
	z-index: 1000;
	color: #1B1C1E;
	background-color: rgba(250, 250, 250, 0.8);
	width: 300px;
	height: fit-content;
	text-align: left;
}

#misV {
	z-index: 1000;
	color: #1B1C1E;
	background-color: rgba(250, 250, 250, 0.8);
	width: 200px;
	height: auto;
	margin: 0 auto;
	text-align: left;
}

#misVal .nav-itema1 {
	z-index: 1000;
	color: #1B1C1E;
	background-color: rgba(250, 250, 250, 0.8);
	text-align: left;
	padding: 3px;
}

.next2 {
	color: white;
	text-decoration: none;
	text-align: center;
	background-position: center;
}

.next2:hover {
	color: black;
}


/*NAVBAR*/

.nav-bara1 {
	display: inline-block;
	text-align: right;
}

.navbar-togglera1 {
	display: inline-block;
	background-color: rgba(250, 250, 250, 0.3);
	color: black;
	text-align: center;
	width: 90px;
	height: 40px;
}

.navbara1 {
	display: none;
	position: absolute;
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin: 10px 10px;
	padding: 0;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: right;
}

.nav-itema1 {
	display: flex;
	position: relative;
	list-style: none;
	width: auto;
	margin: 2px;
	text-align: right;
}

.nav-linka1 {
	display: block;
	text-decoration: none;
	color: dimgrey;
	width: auto;
	margin: 5px;
	padding: 5px;
	transition: 0.4s;
}

.nav-bara1:hover .navbara1 {
	display: block;
	margin: 0;
	width: auto;
	height: fit-content;
	text-shadow: 1px 0 1px 6px whitesmoke;
}

.nav-itema1 > a:hover {
	background-color: rgba(250, 250, 250, 0.2);
	padding: 5px;
	color: darkgray;
}

.nav-itema1 a.active {
	background-color: rgba(0, 0, 0, 0.1);
	background-size: contain;
	border-radius: 5px 10px;
}

.nav-itema1 > a:hover:not(.active) {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	padding: 5px;
	color: darkgoldenrod;
}





.logoPie {
	display: flex;
	flex-direction: row;
	position: relative;
	background-image: url('../img/logo2.png');
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	object-fit: fill;
	margin: 0;
	padding: 0;
	object-position: right;
	width: 300px;
	height: 200px;
}

.galeria  {
	display: grid;
	width: 100%;
	height: auto;
	margin: 0;
	justify-content: center;
	align-content: stretch;
/*	overflow: auto;*/
}

.galeria h3 {
	color: #2B2B2B;
	font-size: x-large;
	font-weight: 700;
}

.galeria .proyectos {
	display: flex;
	flex-direction: row;
	overflow: auto;
	width: 100%;
}

.proyecto .proyectos {
	display: flex;
	flex-flow: row wrap;
	position: relative;
	overflow: auto;
}

.proyectos a {
	display: flex;
	flex-direction: row;
	position: relative;
	align-content: space-between;
	width: auto;
	height: auto;
	column-gap: 4px;
}

.proyecto img {
	display: flex;
	flex-direction: row;
	position: relative;
	width: 600px;
	height: 600px;
	object-fit: fill;
}


/*768px*/

@media screen  and (min-width: 300px) and (max-width: 1029px) {

	html {
		overflow-x: hidden;
	}

	.publicidadIB {
		width: 200px;
		height: 300px;
		background-size: cover;
		margin-top: 0;
		padding-top: 0;
		object-fit: contain;
		margin: 0;
	}

	.publicidadIB figcaption {
		font-weight: 700;
		font-size: x-small;
		align-items: center;
		padding: auto;
		margin: 0;
	}

	.terreno_invisible {
		top: 80px;
	}

	.closeP {
		top: 80px;
	}


	.photos {
		display: flex;
		width: 100%;
		flex-direction: row;
		flex-wrap: wrap;
		height: fit-content;
		margin: 5px;
		position: relative;
	}

	.navbar-toggler {
		display: flex;
		position: static;
		justify-self: flex-end;
		align-self: flex-end;
		flex-direction: row;
		z-index: 2000;
		margin: 0;
	}

	.navbar-toggler i.active {
		color: grey;
	}

	.navbar {
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		position: relative;
		justify-content: space-between;
		justify-items: space-between;
		align-items: center;
		align-items: center;
		width: 100%;
		height: auto;
		margin: 0 auto;
	}

	.socialnav {
		display: flex;
		flex-direction: row;
		position: relative;
		flex-wrap: wrap;
		width: auto;
		height: auto;
		margin: 0;
	}

	.navbar-brand {
		width: auto;
	}

	.menu {
		display: inline-flex;
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;
		margin: 0 auto;
		width: 100%;
		height: fit-content;
	}

	.navbar-nav {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		position: relative;
		margin: 0 auto;
	}

	.navbar-nav > li {
		display: inline-flex;
		position: relative;
		flex-direction: row;
		width: auto;
		height: fit-content;
		margin: 5px;
	}

	.bibi {
		display: inline-flex;
		flex-flow: column wrap;
		position: sticky;
		align-self: flex-end;
		justify-content: flex-end;
		align-items: flex-end;
		margin: 0 auto;
		padding: 0;
		height: auto;
		width: auto;
		z-index: 1000;
	}

	.bibi a {
		display: flex;
		position: relative;
		margin: 0;
		align-content: flex-end;
	}

	.contacto {
		grid-area: 1;
		flex-direction: row;
		position: relative;
		margin: 0;
		flex-wrap: wrap;
	}

	.social {
		display: flex;
		position: relative;
		overflow: hidden;
		align-content: space-between;
		justify-content: space-between;
		justify-items: space-between;
		width: auto;
		margin: 0 auto;
		overflow: auto;
	}

	.logoPie {
		margin: 0;
		padding: 0;
		background-size: contain;
		object-fit: contain;
		width: 70%;
	}

	.proyectos .proyecto img {
		object-fit: fill;
		width: 200px;
		height: 300px;
	}

}


.footLogo {
	display: flex;
	flex-direction: row;
	position: relative;
	background-size: contain;
	margin: 0;
	width: 100%;
	height: fit-content;
	justify-content: flex-end;
	object-position: top;
}



.social {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	text-align: left;
}



.social {
	display: inline-block;
	flex-direction: row;
	position: static;
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	background-position: center;
	border-radius: 2px;
	margin: 0 auto;
	padding: 5px;
	width: 100%;
	height: auto;
	justify-content: space-between;
	align-content: space-between;
	box-sizing: border-box;
}

.contacto {
	display: flex;
	position: relative;
	justify-content: space-between;
}


.contacto address {
	display: flex;
	position: relative;
	flex-direction: column;
	width: auto;
	height: auto;
	margin: 0;
}

.polt {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0;
	align-content: space-between;
	justify-content: space-between;
	align-items: top;
}

.terminos {
	display: flex;
	position: relative;
	justify-content: flex-end;
	align-content: flex-end;
	justify-items: end;
	text-align: right;
}


#closed h3 {
	font-weight: 700;
	margin-top: 30px;
	text-align: left;
	color: #2B2B2B;;
	border-bottom: 1px solid rgb(169, 169, 169, 0.4);
}

.redes {
	display: flex;
	position: relative;
	flex-direction: row-reverse;
}


#cajacookies {
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 0px 5px 5px #000000;
	color: #2B2B2B;;
	background-color: rgba(250, 250, 250, 0.3);
	border-radius: 20px;
	width: 50%;
	font-size: x-small;
	z-index: 1;
}

#cajacookies button {
	margin: 3px;
	padding: 7px;
	font-size: 0.9rem;
	border-radius: 20px;
	color: ghostwhite;
	background-color: black;
}

.cook {
	font-size: xx-small;
	text-indent: 5px;
	text-align: center;
	margin: 0 20px;
}

.ventana {
	background: rgba(0, 0, 0, 1);
	background-color: white;
}


.prev,
.nextt {
	position: relative;
	display: flex;
	cursor: pointer;
	z-index: 2000;
	width: auto;
	text-decoration: none;
	color: rgba(0, 0, 0, 0.2);
	padding: 0 10px;
	margin: 0;
	background-color: rgba(250, 250, 250, 0.3);
	border-radius: 20% 10% 0 5% ;
}

.prev:hover, 
.nextt:hover {
	text-decoration: none;
	background-color:rgba(0,0,0,0.3);
	background-position: center;
	border-radius: 20% 10% 0 5% ;
	color: rgba(250, 250, 250, 0.7);
	padding: 0 10px;
	transform: scale3d(1.5, 1.5, 2.0);
}

.nextt1 {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: space-between;
	justify-items: flex-end;
	align-items: center;
	width: 80%;
	height: 100%;
	z-index: 2000;
}