@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body {
	background: #ADA996;   /*fallback for old browsers */
	background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	height: 100vh;
}

.icon {
	width: 48px;
	height: 48px;
}

#imagen2 {
	display: flex;
	position: relative;
	background-image: url('../img/pisosymallas.jpg');
/*	image-resolution: from-image;*/
	background-size: cover;
	background-position: center;
	object-fit: cover;
	width: 100%;
	height: 230px;
	margin: 0;
	padding: 0;
	border-radius: 5px;
	/*align-content: center;*/
}


.navbar-toggler {
	color: dimgrey;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0;
	line-height: 60px;
	cursor: pointer;
	display: flex;
	position: relative;
	flex-direction: column;
	margin: 0;
	justify-self: flex-end;
/*	align-self: flex-end;*/
	height: auto;
	width: auto;
	align-self: end;
/*background-color: goldenrod;*/
}


.navbar-toggler i:hover {
	color: goldenrod;
}


.navbar .navbar-nav {
	display: flex;
	position: relative;
	flex-direction: row;
/*	align-content: flex-end;*/
/*	justify-content: flex-end;*/
	width: auto;
	margin: 0;
/*	align-self: flex-end;*/
/*	justify-self: end;*/
	object-position: right;
/*	justify-self: right;*/
	background-color: rgba(0, 0, 0, 0.1);
	background-size: contain;
/*	background-position: right;*/
/*	background-repeat: no-repeat;*/
/*	box-sizing: border-box;*/
	box-shadow: 1px 1px 4px;
/*	border-radius: 20px 10px;*/
	padding: 5px;
}


.navbar-nav > ul {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
/*	justify-items: center;*/
/*	justify-content: center;*/
	/*vertical-align: middle;*/
/*	align-content: flex-start;*/
/*	justify-content: flex-start;*/
/*	justify-items: flex-start;*/
/*	align-content: flex-start;*/
	align-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
	align-content: flex-end;
	justify-content: flex-end;
/*	align-items: flex-end;*/
/*	width: auto;*/
	font-size: xx-small;
	border-radius: 5px;
/*	background-size: cover;*/
/*	padding:*/
}


.navbar-collapse {
	display: inline-flex;
	position: relative;
	flex-direction: row;
/*	position: sticky;*/
	z-index: 1000;
	margin: 10px;
	gap: 10px;
	align-content: flex-end;
/*	vertical-align: middle;*/
	justify-content: flex-end;
	justify-items: center;
	object-position: right;
/*	align-items: center;*/
}


/*.container-fluid {*/
/*	width: auto;*/
/*	margin: 0;*/
	/*align-content: center;
	justify-content: center;
	justify-items: center;
	align-items: center;*/
	/*vertical-align: middle;*/
	/*display: inline-block;*/
/*}*/


/*media 768*/


.navbar {
/*	box-sizing: border-box;*/
/*	border-style: groove;*/
/*	border-color: rgba(184, 134, 11, 0.5);*/
	/*padding-right: 10px;
	padding-left: 10px;*/
	background-size: cover;
	display: flex;
/*	grid-template-columns: repeat(auto-fit, minmax(430px, 3fr));*/
/*	background-color: rgba(250, 250, 250, 0.9);*/
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
/*	height: fit-content;*/
/*	align-content: space-between;*/
/*	justify-content: space-between;*/
	width: 100%;
	height: 150px;
	justify-items: center;
	margin: 0;
	padding: 2px;
	align-items: center;
/*	justify-content: space-between;*/
}

/*.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-content: flex-end;
	align-items: center;
	justify-content: flex-end;
	object-position: right;
	justify-content: flex-end;
	width: 100%;
	height: auto;
	margin: 0 auto;
}*/



/*.navbar-brand {
	display: flex;
	position: relative;
	text-align: right;
	color: white;
	margin: 0 auto;
	width: 100%;
	user-select: none;
	cursor: unset;
}*/

/*.flex-container {
	display: flex;
	position: relative;
	width: 100%;
	height: fit-content;
	align-content: space-between;
	align-items: center;
	justify-content: space-between;
	justify-items: space-between;
	position: relative;
	box-sizing: border-box;
	align-content: center;
	align-items: flex-start;
}*/

/*.nave {
	display: flex;
	align-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-items: center;
	align-content: center;
}*/





.navbar-nav .nav-item {
/*	border-style: solid;*/
	text-decoration-line: none;
/*	border-width: thin;*/
/*	border-color: dimgrey;*/
/*	background-color: rgba(190, 190, 190, 0.3);*/
	background-position: center;
	background-size: contain;
	padding: 2px;
	border-radius: 5px;
/*	height: auto;*/
/*	width: auto;*/
	padding: 0;
	position: relative;
	margin: 0 2px;
	display: inline-flex;
/*	flex-direction: row;*/
	flex-flow: row wrap;
	text-align: center;
/*	box-sizing: border-box;*/
}

.nav-item .nav-link {
/*	width: auto;*/
	padding: 2px;
	margin: 2px;
	font-size: x-small;
}

.nav-link {
/*	font-family: arial;*/
/*	flex-basis: auto;*/
	text-decoration: none;
/*	padding: 4px;*/
	font-size: x-small;
/*	background: center;*/
/*	background-position: center;*/
	background-size: contain;
/*	width: 100%;*/
	margin: auto;
/*	box-sizing: content-box;*/
/*	color: rgba(20, 2, 3, 0.8);*/
/*	justify-items: space-between;*/
	color: black;
/*	box-sizing: border-box;*/
	text-transform: uppercase;
}



li a.active {
/*	background-color: rgba(200, 200, 200, 1);*/
	border-radius: 3px;
    background-color: rgba(140, 150, 160, 0.9);
    padding: 3px;
/*    filter: drop-shadow(1px 1px 3px);*/
/*    color: white;*/
}

.nav-item a:hover:not(.active) {
    background-color: rgba(170, 170, 170, 0.6);
    color: rgba(250, 250, 250, 0.9);
/*    filter: drop-shadow(1px 1px 5px);*/
/*	color: whitesmoke;*/
}

.imagen {
/*	image-rendering: optimizeSpeed;  */
	height: 300px;
	width: 100%;
	background-image: url("../img/bannerdef.png");
	background-size: cover;
	background-position: center;
/*	line-height: normal;*/
/*	box-sizing: content-box;*/
	/*margin: auto;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
/*	align-content: space-between;*/
	object-fit: fill;
	background-repeat: no-repeat;
	color: white;
	justify-content: space-between;
	margin: 0;
	position: relative;
/*	gap: 50px;*/
	/*padding: 30px;*/

	/*margin-bottom: 0;
	padding: 0;
	padding-bottom: 0;*/
}

.logo {
	
/*	background: rgba(200, 200, 200, 0.1);*/
/*	border-radius: 40px;*/
	display: flex;
	position: relative;
/*	background-image: url('../img/logo2.png');*/
/*	display: flex;*/
/*	flex-wrap: wrap;*/
/*	position: relative;*/
/*	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;*/
	height: 170px;
	width: 300px;
/*	position: relative;*/
	margin: 0;
	align-content: center;
	justify-content: center;
/*	object-position: left;*/
	justify-items: center;
	object-fit: fill;
	image-rendering: optimizeQuality;
}


 /*"Arial",*/
.name1 {
	display: flex;
	background: rgba(105, 105, 105, 0.6);
	background-position: center;
	background-size: contain;
	border-color: dimgrey;
	border-style: solid;
	border-style: outset;
	border-radius: 10px;
	color: blanchedalmond;
	padding: 10px;
	flex-flow: row wrap;
	position: relative;
	float: right;
}

.img2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	justify-content: center;
	margin: 10px;
	padding: auto;
}

.img2 > span {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	box-sizing: content-box;
	width: 100%;
}

.img2 img {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  image-rendering: optimizeSpeed;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 20px;
  background-size: contain;
  border-style: solid;
  border-color: dimgrey;
  border-style: outset;
  margin: 10px;
  object-position: center;
  gap: 20px;
  box-sizing: content-box;
  overflow: auto;
  object-fit: cover;
	align-self: center;
	justify-self: center;
}

h4 {
	font-family: serif;	
  background-color: rgba(248, 248, 255, 0.6);
  text-align: center;
  background-size: contain;
  padding: 5px;
  font-size: 20px;
  box-shadow: 5px 3px;
  border-radius: 10px;
}


.contacto {
	position: static;
/*	border-style: solid;*/
/*	border-style: outset;*/
/*	font-style: oblique;*/
	text-align: left;
/*	background-color: rgba(0, 0, 0, 0.3);*/
/*	background-position: center;*/
	/*border-color: black;*/
/*	box-shadow: 4px 2px rgba(0, 0, 0, 0.3);*/
/*	box-sizing: content-box;*/
	text-decoration: none;
	color: white;
/*	border-radius: 2px;*/
	padding: 15px;
	text-decoration: none;
	user-select: none;
	width: auto;
}

div.contacto a:hover {
	background: rgba(250, 250, 250, 0.3);
	border-style: solid;
	border-radius: 10px;
	box-sizing: content-box;
	border-width: thin;
	padding: 5px;
	text-decoration: none;
	transition: 0.5s;
}



.social a i {
	color: white;
	margin: 0;
	font-size: large;
}


.bibi i:hover {
	color: #0000FF;
}

.socialnav {
	display: flex;
	position: relative;
	/*flex-direction: row;*/
	align-content: center;
	justify-items: center;
	/*background-position: left;*/
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: left;
	list-style: none;
	/*color: white;*/
	padding: 5px;
	margin: 0 2px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	align-content: center;

}

.socialnav li {
	display: inline-flex;
	flex-direction: column;
	list-style: none;
	align-content: center;
	gap: 10px;
}

.socialnav li a i {
	color: white;
	margin: 2px;
}

.socialnav i:hover {
	color: blue;
}

.text1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-size: contain;
	font-size: large;
	text-align: center;
	margin: 0;
	width: fit-content;
	height: fit-content;
	padding: 8px;
}

.mid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: rgba(190, 190, 190, 0.3);
	user-select: none;
	border-radius: 5px;
	margin: 0;
	padding: 0;
}


/*.row {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: justify-all;
	align-content: space-between;
	justify-content: space-between;
	text-align: center;
	max-width: 100%;
	color: white;
	justify-content: center;
	width: 100%;
}
*/
.text0 {
	background: rgba(0, 0, 0, 0.9);
	align-content: center;
	text-align: center;
	background-position: center;
	object-position: center;
	margin-bottom: 10px;
}

/*.dedicados {
	display: flex;
	background-image: url('/img/pisosymallas.jpg');
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	height: 220px;
	width: 100%;
	margin: 5px;
	padding: 5px;
	gap: 0;
	position: relative;
}*/

.galeria {
/*	background: rgba(200, 200, 200, 0.1);*/
	/*border-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
	border-style: outset;*/
	/*border-width: thin;*/
	/*margin: 0 auto;*/
	/*padding: 0;*/
	display: inline-block;
	position: static;
	flex-direction: column;
	flex-wrap: nowrap;
/*	width: 100%;*/
	grid-template-rows: repeat(auto-fit, minmax(530px, 3fr));	
/*	height: fit-content;*/
	margin: 0 auto;
/*	grid-gap: 20px;*/
	padding: 0;
/*	overflow: hidden;*/
/*	justify-content: space-between;*/
/*	align-content: space-between;*/
/*	align-items: center;*/
	/*align-content: stretch;*/
/*	box-sizing: border-box;*/
/*	align-items: stretch;*/
	width: 100%;
	height: auto;
	justify-items: center;
/*	align-items: flex-start;*/
	align-content: space-around;
	/*gap: 90px;*/
	text-align: center;
	color: rgb(220, 170, 0);
	justify-content: center;

/*	vertical-align: top;*/
	/*text-shadow: 2px 4px grey;*/
	/*font-size: small;*/
}

.linea {
	background: dimgray;
	height: 3px;
	max-width: none;
	display: block;
	margin: 10px 0 0 0;

}

.galeria {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-content: space-between;
	justify-content: space-between;
	position: relative;
	/*overflow: auto;*/
/*	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);*/
	margin: 0;
	padding: 0;
/*	justify-items: space-evenly;
	align-content: space-between;
	justify-content: space-between;*/
	/*width: 100%;*/
	/*height: fit-content;*/
	/*height: auto;*/
	/*width: auto;*/
	/*gap: 90px;*/
	/*vertical-align: middle;*/
	/*align-items: flex-end;*/
/*	width: 100%;*/
}

.fotos {
	box-sizing: border-box;
}


.fotos .photos {
	display: inline-block;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
/*	align-content: space-between;*/
	justify-items: center;
	max-width: 300px;
	height: 150px;
	margin: 10px auto;
/*	justify-content: space-evenly;*/
/*	align-items: stretch;*/
	padding: 0;
/*	box-shadow: 0 0 10px 10px grey;*/
/*	background-position: var(300);*/
/*	vertical-align: top;*/
/*	image-rendering: ;*/
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	gap: 10px 10px;
}

/*.photos {
	margin: 0 auto;
}*/

.photos i:hover {
	color: black;
	text-decoration: none;
	text-shadow: none;
	box-shadow: 0 0 40px grey;
}


.photos img {
	image-rendering: optimizeSpeed;
	width: 80px;
	height: 80px;
	margin: 0;
	position: relative;
	object-fit: cover;
/*	transition: transform 0.5s;*/
	/*width: 100%;*/
/*	max-width: 100%;*/
	padding: 5px;
	align-content: center;
	justify-content: center;

	/*align-items: flex-end;*/
}

/*.galeria .photos {
	display: inline-block;
	align-content: space-between;
	justify-items: space-evenly;
	width: auto;
	align-items: center;
	text-align: center;
	margin: 10px 10px 0 0;
	height: auto;
}
*/
.photos a:hover img {
	transform: scale3d(2.0, 1.0, 5.9);

}

.light-box {
	position: fixed;
	top: 30px;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 90vh;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	backface-visibility: hidden;
/*	transition: width 2s;*/
/*  	transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
}

.light-box img {
	width: 75vw;
	max-height: 70vh;
	background: center;
	object-fit: fill;
}

.light-box:target {
	transform: scale(1.0);
}

.close {
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
/*	text-decoration: none;*/
}

.light-box a:hover {
	color: goldenrod;
}


.next {
	display: block;
/*	background-color: rgba(0, 0, 0, 0.3);*/
/*	background: #851919;*/
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	background-position: center;
/*	text-decoration: none;*/
}

/*.container {*/
	/*display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	justify-items: center;
	position: relative;
	width: 100%;
	height: auto;	
	margin: 0 20px;
	padding: 0;*/
	/*box-shadow: 0 0 0 0 lavender;*/
/*}*/




/*prueba1*/
.text1 {
	color: rgb(210, 150, 0);
	text-align: center;
	width: auto;
	/*align-items: center;*/
	/*vertical-align: middle;*/
}

.cuerpo > div
.cuerpo .contenido {
	text-align: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	grid-gap: 0;
	align-items: flex-start;
	/*vertical-align: baseline;*/
	/*columns: 3;*/
	/*width: 100%;*/
	grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
}

.cuerpo .contenido {
	/*grid-column: span 3;*/
	padding: 5px;
	align-content: center;
	justify-content: center;
/*	align-items: flex-start;*/
	justify-items: center;
	text-align: center;
	display: grid;
	flex-direction: column;
	grid-gap: 0;
	/*vertical-align: middle;*/
	margin-bottom: 30px;
	/*grid-template-rows: auto auto auto;*/
	columns: 3;
	grid-gap: 10px;
	/*color: black;*/
}

.contenido {
	display: grid;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	user-select: none;
	margin: 0 auto;
	grid-gap: 0;
	padding: 0;
	justify-content: center;
	justify-items: center;
	/*vertical-align: baseline;*/
	text-align: justify-all;
	align-content: center;
	/*align-items: flex-start;*/
	width: 70%;
	max-width: 90%;
	/*columns: 3;*/
	grid-template-columns: repeat(auto-fit, minmax(530px, 3fr));
	grid-gap: 10px;
	column-gap: 5px;
	/*color: grey;*/
}


.cuerpo .tt1 {
	
	display: flex;
	flex-direction: column;
	/*text-align: justify;*/
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 5px;
	margin: 20px 0;
	/*width: 90%;*/
	grid-column: 1 / 3;
	grid-row: 1;
	font-size: small;
	color: dimgrey;
	/*border-color: black;*/
	/*border-style: solid;*/
	box-shadow: 0 0 10px grey;
	box-sizing: border-box;
}

.cuerpo .tt2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*text-align: center;*/
	/*justify-content: stretch;*/
	/*text-align: center;*/
	/*justify-content: center;*/
	margin: 20px 0;
	/*width: 50%;*/
	padding: 5px;
	grid-row: 2 / 3;
	grid-column: 1;
	font-size: small;
	/*line-height: 20px;*/
	/*grid-column-gap: 10px;*/
	padding: 10px;
	color: dimgrey;
	box-shadow: 0 0 10px grey;
}

.cuerpo .tt3 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*text-align-last: center;*/
	padding: 10px;
	margin: 20px 0;
	/*width: 50%;*/
	/*height: 100%;*/
	grid-column: 2;
	grid-row: 2 / 3;
	font-size: small;
	/*line-height: 20px;*/
	/*grid-column-gap: 10px;*/
	/*padding: 10px;*/
	text-transform: capitalize;
	color: dimgrey;
	box-shadow: 0 0 10px grey;
	overflow: hidden;
}

.valores {
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	grid-template-columns: auto auto;
	padding-left: 0;
	/*width: 80%;*/
/*	columns: 2;*/
	justify-content: center;
	padding: 0;
	margin: 0 auto;
	grid-gap: 10px;
	padding-left: 0;
	width: auto;

}

.valores > li {
	padding-left: 0;
	list-style: none;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 0;
	align-content: stretch;
	overflow: hidden;
}


/*CONTACT PAGE*/
.banner {
	background-image: url("../img/bannerIB.png");
	background-color: rgba(0, 0, 0, 0.5); 
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: contain;
	margin: auto;
	padding: 0;
	width: 100%;
/*	height: ;*/
}

.bann {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;	
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: center;
	object-fit: cover;
	width: 100%;
	height: fit-content;
	margin: 0;
	padding: 0;
	opacity: 0.9;
	align-content: center;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	align-self: center;
	justify-self: center;

}

.p5 {
	background-color: rgba(0, 0, 0, 0.3);
	display: block;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-content: center;
	align-self: center;
	/*line-height: 20px;*/
	align-self: center;
	justify-self: center;
	margin: 0 auto;
	/*vertical-align: middle;*/
	/*top: 20%;*/
	bottom: 20%;
	/*left: 10%;*/
/*	z-index: 1;*/
	width: 100%;
	height: fit-content;
}

.card {
	display: block;
	flex-direction: column;
	position: relative;
	/*margin: 0 auto;*/
	box-sizing: border-box;
	/*width: 100%;*/
	/*height: 300px;*/
	padding: 0;
}

.boton {
	display: flex;
	flex-direction: row;
	position: relative;
	object-position: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.bibi a > i {
	display: block;
	margin: 5px;
	gap: 10px;
	color: white;
}


.cuerpo {
	display: flex;
	position: relative;
	/*width: auto;*/
/*	height: auto;*/
	margin: 0;
/*	align-items: stretch;*/
	align-content: center;
	/*justify-content: center;
	justify-items: center;*/
	padding: 0;
	text-align: center;
	width: 100%;
	height: auto;
/*	max-width: 2900px;*/
/*	justify-content: space-between;*/
/*	justify-items: space-between;*/
/*	vertical-align: middle;*/
/*	align-items: flex-start;*/
	/*background-color: grey;*/
}

/*.container-fluid {*/
/*	display: flex;*/
/*	position: relative;*/
/*	width: 100%;*/
/*	height: auto;*/
/*	position: relative;*/
/*	width: 100%;*/
/*	height: fit-content;*/
/*	margin: 59px 100px;*/
/*}*/

/*.container {
	margin: 0 auto;
}*/

.ladoA {
	display: flex;
	position: relative;
	width: 30%;
/*	margin-top: -10px;*/
/*	margin-top: 20px;*/
/*	line-height: 55px;*/
}

.ladoB {
	display: inline-block;
	flex-direction: row;
	position: relative;
/*	width: 60%;*/
	width: 100%;
	margin: 0;
	align-content: center;
/*	align-items: flex-start;*/
	justify-content: space-between;
	justify-items: center;

}

.wordColor {
	color: black;
}






/*.bibi {
	width: auto;
	height: auto;
	margin: 0;
	z-index: 1;
}*/

/*.cuerpo {
	display: flex;
	position: relative;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0;
}*/




/*.navbar-nav {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	height: auto;
}*/


/*.nav-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	height: auto;
	position: relative;
}*/

.contacto > span {
	display: flex;
	flex-direction: row;
	position: relative;
	flex-wrap: nowrap;
	gap: 5px;
	margin: 10px 0;
}


.photos i {
	color: gray;
	filter: opacity(70%);
}



/*#remode img {*/
/*	display: inline-block;*/
/*	margin-top: 10px;*/
/*	margin: 10px auto 0 0;*/
/*	padding-top: 10px;*/
/*	display: inline-block;*/
/*	width: 160px;*/
/*}*/

.cuerpo {
	width: 100%;
/*	position: static;*/
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin-top: 50px;
	margin-bottom: 100px;
/*	align-items: flex-start;*/

/*	align-content: space-between;*/
/*	justify-content: space-between;*/
}



.galeria {
/*	display: inline-block;*/
	width: 100%;
	height: fit-content;
	margin: 0;
}

.ladoB {
/*	transform: scale(0.5);*/
/*	width: 100%;*/
	display: flex;
	margin: 0;
	position: relative;
}


.side {
	display: block;
	flex-direction: row;
	position: relative;
	width: 30%;
}

.bann {
	width: 100%;
	margin: 0 auto;
/*	z-index: 1000;*/
}



/*MISION*/

.cuerpo {
	display: inline-flex;
	position: relative;
	flex-direction: row;
/*	align-content: center;*/
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
/*	text-align: justify;*/
/*	width: 100%;*/
/*	max-width: 2900px;*/
/*	justify-content: space-around;*/
/*	justify-items: space-around;*/
/*	align-items: center;*/
/*	align-content: space-between;*/
/*	color: black;*/
}

.ladoA1 {
	display: flex;
	position: static;
	flex-direction: row;
	align-content: flex-end;
	justify-content: center;
	width: auto;
/*	height: fit-content;*/
	margin: 0;
	padding: 5px;
	text-align: center;
/*	float: left;*/
	justify-content: flex-start;
/*	box-shadow: 0px 8px 16px 0px rgba(170, 180, 90, 0.5);*/
/*	justify-items: space-between;*/
/*	padding: 5vh 10px;*/
	border-radius: 10px;
	background-color: rgba(245, 245, 245, 0.5);
	transition: transform 0.3s ease-in-out;
/*	z-index: 1000;*/

/*	color: whitesmoke;*/
}

.ladoA1 a {
	text-decoration: none;
/*	color: ghostwhite;*/
/*	overflow: hidden;*/
	color: white;
/*	vertical-align: middle;*/
/*	margin: 50px auto;*/
}


#misionB,  
#misionB1,
#misionB2 {
	background: none;
	border-style: none;
	color: dimgrey;
/*	background-color: grey;*/
}

#misionB:hover,  
#misionB1:hover,
#misionB2:hover {
	background: rgba(184, 134, 11, 0.5);
	border-style: none;
	border-radius: 10px;
	color: white;
/*	background-color: grey;*/
}



.valoresa1 {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
/*	text-align: left;*/
}

/*#tt2:hover {
	display: block;
	width: auto;
	margin: 0 auto;
	transition: 0.4s;
	text-shadow: 1px 0 1px 6px whitesmoke;
}
*/


.tt0a1 {

	margin: 100px auto;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(130, 140, 120, 0.3);
	border-radius: 10px;
	transition: transform 0.8s ease-in-out;
	width: auto;
/*	height: fit-content;*/
	height: 50vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
	margin: 20px 20px;
	padding: 25px;
	color: black;
	box-shadow: 0px 8px 16px 0px rgba(170, 180, 90, 0.8);
	text-shadow: 1px 0 1px 6px whitesmoke;
/*	text-decoration: none;*/
	backface-visibility: hidden;
}

.tt1a1 {
/*	display: table-row-group;*/
	position: relative;
	/*width: auto;
	height: fit-content;
	margin: 20px 50px;
	transition: 0.4s;
	text-shadow: 1px 0 1px 6px whitesmoke;*/
}

.tt2a1 {
/*	display: none;*/
	position: relative;
}

.tt3a1 {
/*	display: none;*/
	position: relative;
}

/*.tt3 li {
	display: block;
	position: relative;
	flex-direction: row;
	list-style: none;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	list-style: none;
	margin-left: 0;
}*/


.tt0a1:target {
	transform: scale(1.0);
}

.tt0a1:hover {
	text-decoration: none;
	color: black;
/*	transform: scale3d(1.0, 1.0, 3.9);*/
}

.text1 {
	text-align: center;
/*	text-decoration: underline black;*/
/*	color: darkgoldenrod;*/
}

#mis {
/*	display: inline-flex;*/
/*	flex-direction: row;*/
	z-index: 1000;
	color: black;
	background-color: rgba(250, 250, 250, 1.0);
	width: 300px;
	height: fit-content;
	text-align: center;

}

#misV {
	z-index: 1000;
	color: black;
	background-color: rgba(250, 250, 250, 1.0);
/*	width: auto;*/
	width: 200px;
	height: auto;
	margin: 0 auto;
/*	text-align: left;*/
	text-align: center;
}

#misVal .nav-itema1 {
	z-index: 1000;
	color: black;
	background-color: rgba(250, 250, 250, 1.0);
/*	text-align: left;*/
	text-align: center;
	justify-content: center;
	align-content: center;
	align-self: center;
}

.next2 {
	color: white;
	text-decoration: none;
	text-align: center;
	background-position: center;
}

.next2:hover {
	color: black;
/*	transform: scale(1.5);*/

}



/*NAVBAR*/

.nav-bara1 {
	display: inline-block;
	text-align: right;
}

.navbar-togglera1 {
	display: inline-block;
	background-color: rgba(250, 250, 250, 0.3);
	color: black;
	text-align: center;
	width: 90px;
	height: 40px;
}

.navbara1 {
	display: none;
	position: absolute;
	text-decoration: none;
	width: 100%;
	height: 100%;
	margin: 10px 10px;
	padding: 0;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: right;
}

.nav-itema1 {
	display: flex;
	position: relative;
	list-style: none;
	width: auto;
	margin: 2px;
	text-align: right;
/*	gap: 10px;*/
}

.nav-linka1 {
	display: block;
	text-decoration: none;
	color: dimgrey;
	width: auto;
	margin: 5px;
	padding: 5px;
	transition: 0.4s;
/*	transition-delay: revert-layer;*/
/*	z-index: 1;*/
/*	gap: 10px;*/
/*	text-align: right;*/
}

.nav-bara1:hover .navbara1 {
	display: block;
	margin: 0;
	width: auto;
	height: fit-content;
	text-shadow: 1px 0 1px 6px whitesmoke;
/*	display: flex;*/
/*	position: absolute;*/

}

.nav-itema1 > a:hover {
	background-color: rgba(250, 250, 250, 0.2);
	padding: 5px;
	color: darkgray;
}

.nav-itema1 a.active {
	background-color: rgba(0, 0, 0, 0.1);
	background-size: contain;
	border-radius: 5px 10px;
/*	margin: 0;*/
}

.nav-itema1 > a:hover:not(.active) {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	padding: 5px;
	color: darkgoldenrod;
}





/*768px*/

@media screen and (min-width: 240px) and (max-width: 768px) {

/*.logo {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	background-size: contain;
	background-position: center;
	align-content: flex-start;
	align-self: flex-start;
	width: 60%;
	height: auto;
	margin: 0;
	object-fit: cover;
}*/

html {
/*	width: 100%;*/
overflow-x: hidden;
}


.galeria .photos {
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	height: fit-content;
	margin: 5px;
	position: relative;
}





.navbar-toggler {
	display: flex;
	position: static;
	justify-self: flex-end;
	align-self: flex-end;
	flex-direction: row;
/*	flex-flow: column wrap;*/
/*	width: 100%;*/
	z-index: 2000;
	margin: 0;
/*	float: right;*/
/*	background-color: white;*/
}

/*.navbar-collapse {
	width: auto;
	height: fit-content;
	margin: 0 auto;
	background-color: rgba(0, 0, 0, 0.2);
}*/


.navbar-toggler i.active {
	color: grey;
/*	z-index: 2000;*/
/*	float: right;*/
/*	position: absolute;*/
}

.navbar {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
/*	align-content: space-between;*/
	justify-items: space-between;
	align-items: center;
	/*align-content: flex-start;*/
/*	justify-content: center;*/
/*	justify-items: center;*/
/*	align-content: flex-end;*/
	align-items: center;
	/*align-items: flex-start;*/
	width: 100%;
	height: auto;
	margin: 0 auto;
	/*align-self: center;*/
	/*justify-self: center;*/
	/*justify-self: center;*/
	/*align-self: center;*/
}

.socialnav {
	display: flex;
	flex-direction: row;
	position: relative;
	flex-wrap: wrap;
	width: auto;
	height: auto;
	margin: 0;
}

.navbar-brand {
	/*text-align: right;*/
	width: auto;
}

.menu {
	display: inline-flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	/*align-content: flex-end;*/
	/*text-align: right;*/
	margin: 0 auto;
	width: 100%;
	height: fit-content;
	/*justify-content: flex-end;
	justify-items: flex-end;
	align-content: flex-end;
	align-items: center;*/
	/*justify-self: right;
	align-self: right;*/
}

.navbar-nav {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	/*align-items: center;
	align-content: center;
	justify-content: center;
	justify-items: center;*/
	margin: 0 auto;
}

.navbar-nav > li {
	display: inline-flex;
	position: relative;
	flex-direction: row;
	width: auto;
	height: fit-content;
	margin: 5px;

}

/*.container-fluid {
	display: inline-flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: fit-content;
	align-content: center;
	align-items: center;
	alignment-baseline: auto;
	margin: 0 auto;
}*/

/*.container-fluid button {
	 
	display: flex;
	flex-direction: row;
	width: auto;
	justify-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;*/
/*	padding: 5px;*/
/*	margin: 0 auto;
}
*/
/*.navbar-collapse {*/
	/*position: relative;
	display: flex;
	flex-direction: row;*/
	/*flex-wrap: wrap;*/
/*	align-items: center;*/
	/*object-position: right;*/
/*	width: auto;
	height: fit-content;
	margin: 0 auto;
	justify-content: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
}*/

/*.cuerpo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	margin: 30px auto;
	padding: 0;*/
/*	align-content: center;*/
/*	grid-template-rows: auto auto auto;*/
/*	width: auto;
	align-items: stretch;
}*/

/*.cuerpo .contenido {
	grid-column: span 3;
	padding: 5px;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	justify-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	grid-gap: 0;
	vertical-align: middle;
	margin-bottom: 30px;
	grid-template-rows: auto auto auto;
	columns: 3;
	grid-gap: 10px;
}*/

/*.contenido {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	user-select: none;
	margin: 0 auto;
	grid-gap: 0;
	padding: 0;
	justify-content: center;
	justify-items: center;
	vertical-align: baseline;
	text-align: justify-all;
	align-content: center;
	align-items: flex-start;
	width: 70%;
	max-width: 90%;
	columns: 3;
	grid-template-rows: auto auto auto;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	column-gap: 5px;
}*/


.cuerpo .tt1 {
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	/*width: 90%;*/
	/*grid-column: 1 / 3;*/
	grid-row: 1;
	font-size: small;
}

.cuerpo .tt2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*text-align: center;*/
	/*justify-content: stretch;*/
	/*text-align: center;*/
	/*justify-content: center;*/
	margin: 0 auto;
	/*width: 50%;*/
	padding: 5px;
	grid-row: 2;
	/*grid-column: 1;*/
	font-size: small;
	/*line-height: 20px;*/
	grid-column-gap: 10px;
	padding: 10px;
}

.cuerpo .tt3 {
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	/*align-items: center;*/
	padding-left: 0;
	width: auto;
	height: auto;
	/*grid-column: 2;*/
	grid-row: 3;
	font-size: small;
	/*line-height: 20px;*/
	grid-column-gap: 10px;
	padding: 5px;
/*	scroll-behavior: auto;*/

}

.valores {
	display: flex;
	flex-direction: column;
	grid-template-columns: auto;
	padding-left: 0;
	/*width: 80%;*/
	/*columns: 2;*/
	justify-content: center;
	padding: 0;
	margin: 0 auto;
	grid-gap: 2px;
	padding-left: 0;
	width: 100%;
}

.valores > li {
	padding-left: 0;
	list-style: none;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

/*	padding-top: 0;*/
/*	padding: 5px;*/
	margin: 0 auto;
	align-content: center;
}




.bibi {
	display: inline-flex;
/*	flex-direction: row;*/
	flex-flow: column wrap;
	position: sticky;
/*	flex-direction: row;*/
	align-self: flex-end;
	justify-content: flex-end;
	align-items: flex-end;
/*	float: end;*/
/*	backface-visibility: hidden;*/
/*	background-size: contain;*/
/*z-index: -1;*/
/*float: right;*/
	margin: 0 auto;
	padding: 0;
	height: auto;
	width: auto;
	z-index: 1000;
/*	scroll-behavior: auto;*/

}

.bibi a {
	display: flex;
	position: relative;
	margin: 0;
	align-content: flex-end;
}

.contacto {
/*	display: grid;*/
/*	columns: 2;*/
	grid-area: 1;
/*	grid-column: auto auto;*/
/*	flex-direction: column;*/
/*	background: unset;*/
	position: relative;
/*	width: 40%;*/
/*	height: fit-content;*/
	margin: 0;
	flex-wrap: nowrap;
/*	display: flex;*/
}

.logoPie {
/*	background-color: rgba(0, 0, 0, 1.0);*/
	background-image: url('../img/logo2.png');
/*	z-index: 1000;*/
	margin: 0;
	width: 100px;
	height: 100px;
/*	background-position: center;*/
	object-fit: cover;
	background-size: cover;
	background-repeat: no-repeat;
/*	position: absolute;*/
/*	z-index: 1;*/
/*	grid-area: 1 / 3;*/
/*	grid-column-gap: 10px;*/
	/*float: right;
	justify-self: right;*/
/*	align-self: flex-end;*/
/*	box-sizing: border-box;*/
/*	background-image: center;*/
}

.social {
	display: flex;
/*	flex-flow: row wrap;*/
/*	flex-grow: revert;*/
/*	box-sizing: border-box;*/
	position: relative;
	overflow: hidden;
	align-content: space-between;
	justify-content: space-between;
	justify-items: space-between;
/*	grid-template-columns: auto auto auto;*/
	width: auto;
	margin: 0 auto;
	overflow: auto;
}

}


.social span {
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: left;
/*	margin: 0;*/
/*	padding: 0;*/
/*	background-color: white;*/
}








.logoPie {
	display: flex;
	flex-direction: row;
	position: relative;
	background-image: url('../img/logo2.png');
/*	padding: 0;*/
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	object-fit: fill;
	margin: 0 auto;
	align-self: center;
	justify-self: center;
/*	box-sizing: border-box;*/
/*	z-index: 1000;*/
	width: 300px;
	height: 200px;
}

.social {
	display: inline-block;
	flex-direction: row;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	background-position: center;
/*	border-style: solid;*/
/*	border-style: outset;*/
	border-radius: 10px;
/*	box-shadow: 6px 4px dimgrey;*/
/*	border-color: dimgrey;*/
	margin: 0 auto;
	padding: 5px;
	width: 100%;
	height: auto;
	/*justify-items: center;*/
/*	vertical-align: middle;*/
	justify-content: space-between;
	align-content: space-between;
	box-sizing: border-box;

}


.poli {
	display: inline-block;
	position: relative;
	flex-direction: column;
/*	align-self: flex-end;*/
/*	justify-self:flex-end;*/
	align-content: space-between;
	justify-content: space-between;


}

.polt {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
/*	background-color: rgba(0, 0, 0, 0.2);*/
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	align-content: space-between;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
}


#closed h3 {
	font-weight: 700;
	margin-top: 80px;
	text-align: left;
	color: dimgrey;
	text-indent: 10px;
	border-bottom: 1px solid rgb(169, 169, 169, 0.4);
/*	margin: 20px;*/
/*	vertical-align: middle;*/
}



/*.wellcome {
	display: flex;
	position: fixed;
	flex-direction: column;
		align-items: center;
		margin: 0 auto;
		background-color: rgba(250, 250, 250, 0.9);
		z-index: 2000;
		padding: 0;
		min-width: 50%;
		height: 100vh;
		overflow-y: auto;
		left: 100%;
		transition: left 0.3s;
}

.bienvenido::hidden {
	left: 0;
	cursor: pointer;
}

#wellhide {
	left: 0;
}*/


#cajacookies {
	/*display: flex;*/
	/*display: flex;*/
	/*flex-direction: column-reverse;*/
	/*position: fixed;*/
	/*float: center*/
	/*flex-direction: column-reverse;*/
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 0px 5px 5px #000000;
	color: black;
	background-color: rgba(250, 250, 250, 0.3);
	border-radius: 20px;
	width: 50%;
	font-size: x-small;
	z-index: 1;

}

#cajacookies button {
	/*position: fixed;*/
	margin: 3px;
	padding: 7px;
	font-size: 0.9rem;
	border-radius: 20px;
	color: ghostwhite;
	background-color: black;
}

.cook {
	font-size: xx-small;
	text-indent: 5px;
	text-align: center;
	margin: 0 20px;
}

.ventana {
	background: rgba(0, 0, 0, 1);
	background-color: white;
}




/*
.photos {
	position: fixed;
	top: 30px;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 90vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.photos:target {
	transform: scale(1.0);
}*/

/*.light-box img {
	width: 75vw;
	max-height: 70vh;
	background: center;
	object-fit: cover;
}

.light-box:target {
	transform: scale(1.0);
}*/

.proyecto {
/*	display: block;
	position: relative;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	align-content: center;
	justify-content: center;
	text-align: center;
*/
/*	background-image: url('img/proyecto9(1).jpg');*/
	position: relative;
	top: 30px;
/*	left: 0;*/
/*	background: rgba(0, 0, 0, 0.5);*/
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 366px;
	margin: 0;
	padding: 0;
/*	z-index: 1000;*/
/*	display: inline-block;*/
	justify-content: center;
	align-items: center;
/*	display: none;*/
/*	transform: scale(0);*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	box-sizing: border-box;
}

#proyectos0 {
	/*display: inline-block;
	visibility: visible;
	position: relative*/;
	
}

/*#proyectos1 {
	visibility: hidden;
	left: 100%;
	position: absolute;
	background-color: black;
}*/

.nextt1 {
	display: inline-flex;
	position: relative;
	flex-direction: row;
/*	flex-wrap: wrap;*/
	width: 100%;
	z-index: 2000;
	align-content: space-between;
	justify-items: center;
	justify-content: space-between;
	align-items: center;
	justify-content: space-between;
	align-content: space-between;
	margin: 0;
}

.proyecto img {
	box-sizing: border-box;
	max-width: 1028px;
	height: 366px;
	position: relative;

	margin: 0;
	padding: 0;
	object-fit: cover;
/*	background-position: center;*/
/*	transition: all;*/
/*	transition: transform 0.3s ease-in-out;*/

}

/*.proyecto a img {
	margin: 25px;
}
*/

/*.slideshow-container {
	max-width: 100%;
	position: relative;
	margin: 0;
}*/

.prev,
.nextt {
	position: relative;
	display: flex;
	cursor: pointer;
/*	z-index: 1000;*/
	width: auto;
	text-decoration: none;
	align-content: space-between;
	align-items: center;
	align-content: flex-end;
	align-self: flex-end;
	justify-self: flex-end;
	color: black;
	padding: 0;
	margin: 0 auto;
}

.prev:hover, 
.nextt:hover {
	text-decoration: none;
	background-color:rgba(0,0,0,0.3);
	background-position: center;
	border-radius: 20% 10% 0 5% ;
/*	background-size: cover;*/
	color: white;
/*	margin: 0;*/
	padding: 0 10px;
	transform: scale3d(1.5, 1.5, 2.0);
	
}



/*.fade img { */
/*	-webkit-animation-name:fade; */
/*	-webkit-animation-duration:2s; */
/*width: 100px;*/
/*height: 100px;*/
/*	background-color: black;*/
/*	animation-name:fade; */
/*	animation-duration:2s;*/
/*	animation: mymove 5s infinite;*/
/*	animation-timing-function: ease;*/
/*	animation-delay: 2s;*/
/*	background-color: red;*/
/*transition: width 2s;*/
/*  	transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);*/

/*}*/


/*.galeria #construccion {
	display: flex;
	flex-direction: column;
	position: relative;
}

.galeria #zona {
	display: flex;
	flex-direction: column;
	position: relative;
}*/

.galeria {
	display: flex;
	flex-direction: row;
	position: relative;
	margin: 0;
/*	width: 50px;*/
/*	transition: width 2s;*/
/*  	transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);*/
}


/*@keyframes fade {

	from {left: 0px;}
  to {left: 4300px;}*/
	
	/*0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}*/

/*}*/
/*
.modal-gallery__background {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: fit-content;
	margin: 0;
}

.modal-gallery {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 100%;
}*/

.modal-gallery__thumnails {
	display: flex;
	gap: 10px;
	justify-items: center;
	justify-content: center;
	width: 100%;
/*	border: 2px black;*/
/*	box-shadow: 2px black;*/
/*	cursor: pointer;*/
/*	border: 1px solid white;*/
}


.modal-gallery__thumnail {
	border-radius: 50%;
	box-shadow: 2px 2px 5px black;
	cursor: pointer;
}

.publicidadIB {
	display: flex;
	position: fixed;
	background-image: url('../img/terreno.jpg');
	width: 300px;
	height: 400px;
	padding: 3px;
	margin: 10px;
	left: 100%;
	object-position: center;
	background-position: top;
	background-size:contain;
	background-repeat: no-repeat;
	z-index: 3;
	object-fit: fill;
	text-align: center;
/*	color: black;*/
	text-shadow: ;
	background-color: rgba(0, 0, 0, 0.6);

}

.terreno_invisible {
/*	display: none;*/
	left: 0;
}

figcaption {
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	width: auto;
	height: fit-content;
	padding: 5px;
}