/*body {*/
	/* background: #c21500;  fallback for old browsers */
	/* background: -webkit-linear-gradient(to right, #ffc500, #c21500);  Chrome 10-25, Safari 5.1-6 */
	/* background: linear-gradient(to right, #ffc500, #c21500); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	/*background: #bbbaab;   fallback for old browsers */
/*	background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #ffffff, #abbaab);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*}*/
/*#imagen1 {
	background-image: url('/img/batman.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	height: 100%;s
}

.gal img {
	object-fit: cover;
	width: 300px;
	gap: 5px;
	margin: 5px;
}*/

/*.galeria {
	background: rgba(250, 250, 250, 0.4);
	background-size: contain;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	height: 100%;
	margin: 10px;
	box-sizing: content-box;
	text-align: center;
	position: relative;
	justify-content: center;
}
 .galeria span  {
	width: 100%;
	display: flex;
	flex-flow: wrap row;
	align-content: center;
	justify-content: center;
	position: relative;
	justify-content: space-between;

} */

/* .container {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	
} */

/*.nav-link:hover {
	background: rgba(0, 0, 0, 0.2);
	width: fit-content;
	padding: 10px;
}

#mv {
	background: rgba(0, 0, 0, 0.5);
	background-position: center;
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	width: 100%;
	margin: auto;
}

#tt1 {
	display: flex;
	flex-flow: row wrap;
	width: 50%;
	flex-direction: column;
	color: ghostwhite;
}

#tt2 {
	display: flex;
	flex-flow: row wrap;
	flex-direction: column;
	width: 50%;
	color: ghostwhite;
}*/

#imagen2 {
	display: flex;
	position: relative;
	background-image: url('../img/pisosymallas.jpg');
	background-size: cover;
	background-position: center;
	object-fit: cover;
	width: 99%;
	height: 200px;
	margin: 0 auto;
	padding: 0;
	/*align-content: center;*/
	
}

/*#t1 {
	color: dimgrey;
	text-shadow: 1px 2px;
	box-shadow: 4px 3px;
	text-align: center;
	background: rgba(250, 250, 250, 0.5);
}

#imagen3 {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	flex-direction: row-reverse;
	width: 180px;
}*/









/*p {
	font-family: 'helvetica neue', helvetica, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid rgba(0, 0, 200, 0.6);
	background: rgba(0, 0, 200, 0.3);
	color: rgba(0, 0, 200, 0.6);
	box-shadow: 1px 1px 2px rgba(0, 0, 200, 0.4);
	border-radius: 10px;
	padding: 3px 10px;
	display: inline-block;
	cursor: pointer;
}*/
/*
.msgBox {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 200px;
	background: greenyellow;
	text-align: center;
}

.msgBox p {
	line-height: normal;
	padding: 10px 20px;
	color: red;
}

.msgBox button {
	background: none;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	font-size: medium;
	color: black;
	cursor: pointer;

}*/

/** {
	margin: 0;
	padding: 0;
}*/

html {
	/*width: auto;*/
	height: 100vh;
	/*box-sizing: border-box;*/
	margin: 0 auto;
	padding: 0;
}



.navbar-toggler {
	color: ghostwhite;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0;
	/*line-height: 60px;*/
	cursor: pointer;
	display: flex;
	position: relative;
	margin: 0 auto;
	/*justify-self: flex-end;*/
	/*align-self: flex-end;*/
	height: auto;
	width: auto;
}

.navbar-toggler i:hover {
	color: goldenrod;
}



.navbar-nav li {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-items: center;
	justify-content: center;
	/*vertical-align: middle;*/
	/*align-content: flex-start;
	justify-content: flex-start;
	justify-items: flex-start;
	align-content: flex-start;
	align-items: flex-start;*/
	width: auto;
	height: auto;
	margin: 0 auto;
	/*align-content: center;*/
/*	align-items: center;*/
/*	width: auto;*/
	font-size: small;
	background-size: cover;
}

.container-fluid {
	/*width: 100%;*/
	margin: 0 auto;
	/*align-content: center;
	justify-content: center;
	justify-items: center;
	align-items: center;*/
	/*vertical-align: middle;*/
	/*display: inline-block;*/
}


/*media 768*/


.navbar {
	box-sizing: border-box;
	border-style: groove;
	border-color: rgba(184, 134, 11, 0.5);
	/*padding-right: 10px;
	padding-left: 10px;*/
	background-size: cover;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(430px, 3fr));
	background-color: rgba(250, 250, 250, 0.3);
	flex-direction: column;
	position: relative;
	height: fit-content;
/*	align-content: space-between;*/
/*	justify-content: space-around;*/
	width: 100%;
/*	justify-items: center;*/
/*	justify-items: space-around;*/
	margin: 0 auto;
	padding: 2px;
}

/*.menu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	align-content: flex-end;
	align-items: center;
	justify-content: flex-end;
	object-position: right;
	justify-content: flex-end;
	width: 100%;
	height: auto;
	margin: 0 auto;
}*/



.navbar-brand {
	display: flex;
	position: relative;
	text-align: right;
	color: white;
	/*align-self: stretch;*/
	justify-self: flex-end;
	margin: 0 auto;
	width: 100%;
	/*pointer-events: none;*/
	user-select: none;
	cursor: unset;
}

/*.flex-container {
	display: flex;
	position: relative;
	width: 100%;
	height: fit-content;
	align-content: space-between;
	align-items: center;
	justify-content: space-between;
	justify-items: space-between;
	position: relative;
	box-sizing: border-box;
	align-content: center;
	align-items: flex-start;
}*/

/*.nave {
	display: flex;
	align-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-items: center;
	align-content: center;
}*/





.nav-item {
	border-style: solid;
	text-decoration-line: none;
	border-width: thin;
	border-color: dimgrey;
	background-color: rgba(0, 0, 0, 0.7);
	background-position: center;
	background-size: cover;
/*	padding: 5px;*/
	border-radius: 5px;
	height: auto;
	width: 100%;
	position: relative;
	margin: 0 auto;
	display: inline-flex;
	flex-direction: row;
	flex-flow: row wrap;
	text-align: center;
	box-sizing: border-box;
}

.nav-link {
/*	flex-basis: auto;*/
	text-decoration: none;
/*	padding: 4px;*/
	font-size: small;
/*	background: center;*/
/*	background-position: center;*/
	background-size: cover;
	width: 100%;
	margin: 0 auto;
/*	box-sizing: content-box;*/
	color: rgba(20, 2, 3, 0.4);
/*	justify-items: space-between;*/
	color: grey;
/*	box-sizing: border-box;*/
}



li a.active {
	background-color: rgba(200, 200, 200, 0.1);
	border-radius: 5px;
    background-color: rgba(200, 200, 200, 0.3);
    color: rgba(200, 200, 200, 0.9);;
}

.nav-item a:hover:not(.active) {
    background-color: #555;
    color: rgba(250, 250, 250, 0.6);
}

.imagen {
	image-rendering: optimizeSpeed;  
	height: 400px;
	width: 99%;
	background-image: url("../img/bannerdef.png");
	background-size: cover;
	background-position: center;
	line-height: normal;
	box-sizing: content-box;
	/*margin: auto;*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: space-between;
	object-fit: cover;
	background-repeat: no-repeat;
	color: white;
	justify-content: space-between;
	margin: 0 auto;
	position: relative;
	gap: 50px;
	/*padding: 30px;*/

	/*margin-bottom: 0;
	padding: 0;
	padding-bottom: 0;*/
}

.logo {
	image-rendering: optimizeSpeed;
	background: rgba(200, 200, 200, 0.1);
	display: flex;
	background-size: cover;
	background-repeat: no-repeat;
	object-fit: cover;
	height: 100px;
	width: 190px;
	background-image: url('../img/logo2.png');
/*	float: right;*/
	z-index: 1;
}

body {
	background: #ADA996;  /* fallback for old browsers 
background: -webkit-linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: 'Roboto', serif;
	height: 100vh;
/*	margin: 0 auto;*/
}
 /*"Arial",*/
.name1 {
	display: flex;
	background: rgba(105, 105, 105, 0.6);
	background-position: center;
	background-size: contain;
	border-color: dimgrey;
	border-style: solid;
	border-style: outset;
	border-radius: 10px;
	color: blanchedalmond;
	padding: 10px;
	flex-flow: row wrap;
	position: relative;
	float: right;
}

.img2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	align-content: center;
	justify-content: center;
	margin: 10px;
	padding: auto;
}

.img2 > span {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	box-sizing: content-box;
	width: 100%;
}

.img2 img {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  image-rendering: optimizeSpeed;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 20px;
  background-size: contain;
  border-style: solid;
  border-color: dimgrey;
  border-style: outset;
  margin: 10px;
  object-position: center;
  gap: 20px;
  box-sizing: content-box;
  overflow: auto;
  object-fit: cover;
	align-self: center;
	justify-self: center;
}

h4 {
	font-family: monospace;	
  background-color: rgba(248, 248, 255, 0.6);
  text-align: center;
  background-size: contain;
  padding: 5px;
  font-size: 20px;
  box-shadow: 5px 3px;
  border-radius: 10px;
}


.contacto {
	border-style: solid;
	border-style: outset;
/*	font-style: oblique;*/
	text-align: right;
	background-color: rgba(0, 0, 0, 0.3);
	background-position: center;
	/*border-color: black;*/
	box-shadow: 4px 2px rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	text-decoration: none;
	color: white;
	border-radius: 2px;
	padding: 15px;
	text-decoration: none;
	user-select: none;
}

div.contacto a:hover {
	background: rgba(250, 250, 250, 0.3);
	border-style: solid;
	border-radius: 10px;
	box-sizing: content-box;
	border-width: thin;
	padding: 5px;
	text-decoration: none;
	transition: 0.5s;
}

.social {
	display: flex;
	position: relative;
	background-color: rgba(0, 0, 0, 0.8);
	background-size: cover;
	background-position: center;
	border-style: solid;
	border-style: outset;
	border-radius: 10px;
	box-shadow: 6px 4px dimgrey;
	border-color: dimgrey;
	margin: 0 auto;
	padding: 5px;
	width: 100%;
	height: 100%;
	justify-items: space-between;
	justify-content: space-between;
	box-sizing: border-box;
}

.social a i {
	color: white;
	margin: 0;
	font-size: large;
}


.bibi i:hover {
	color: #0000FF;
}

.socialnav {
	display: flex;
	position: relative;
	/*flex-direction: row;*/
	align-content: center;
	justify-items: center;
	/*background-position: left;*/
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: left;
	list-style: none;
	/*color: white;*/
	padding: 5px;
	margin: 0 2px;
	width: 100%;
	height: auto;
	box-sizing: border-box;
	align-content: center;

}

.socialnav li {
	display: inline-flex;
	flex-direction: column;
	list-style: none;
	align-content: center;
	gap: 10px;
}

.socialnav li a i {
	color: white;
	margin: 2px;
}

.socialnav i:hover {
	color: blue;
}

.text1 {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-size: contain;
	font-size: large;
	text-align: center;
	margin: 0;
	width: fit-content;
	height: fit-content;
	padding: 8px;
}

.mid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background: rgba(190, 190, 190, 0.3);
	user-select: none;
	border-radius: 5px;
	margin: 0;
	padding: 0;
}


/*.row {
	display: flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: justify-all;
	align-content: space-between;
	justify-content: space-between;
	text-align: center;
	max-width: 100%;
	color: white;
	justify-content: center;
	width: 100%;
}
*/
.text0 {
	background: rgba(0, 0, 0, 0.9);
	align-content: center;
	text-align: center;
	background-position: center;
	object-position: center;
	margin-bottom: 10px;
}

/*.dedicados {
	display: flex;
	background-image: url('/img/pisosymallas.jpg');
	background-size: cover;	
	background-position: center;
	background-repeat: no-repeat;
	object-fit: cover;
	height: 220px;
	width: 100%;
	margin: 5px;
	padding: 5px;
	gap: 0;
	position: relative;
}*/

.galeria {
	background: rgba(200, 200, 200, 0.1);
	/*border-style: solid;
	border-color: rgba(0, 0, 0, 0.3);
	border-style: outset;*/
	/*border-width: thin;*/
	/*margin: 0 auto;*/
	/*padding: 0;*/
	display: inline-flex;
	position: relative;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	/*grid-template-rows: repeat(auto-fit, minmax(530px, 3fr));	*/
	height: fit-content;
	margin: 0;
	grid-gap: 10px;
	padding: 15px;
	overflow: hidden;
	justify-content: space-around;
	align-content: space-around;
/*	align-items: center;*/
	/*align-content: stretch;*/
	box-sizing: content-box;
/*	align-items: stretch;*/
	/*width: auto;*/
	height: fit-content;
	justify-items: space-between;
	align-items: stretch;
	align-content: space-around;
	/*gap: 90px;*/
	text-align: center;
	color: rgb(210, 150, 0);
	/*text-shadow: 2px 4px grey;*/
	/*font-size: small;*/
}

/*.galeria > h3 {
	font-size: small;
	text-shadow: white;
	align-items: center;
}*/
/*.photos {
	align-content: space-around;
	justify-content: space-around;
}*/

.linea {
	background: dimgray;
	height: 3px;
	max-width: none;
	display: block;
	margin: 10px;
}

.galeria > a {
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	align-content: space-around;
	justify-content: space-evenly;
	position: relative;
	/*overflow: auto;*/
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
	margin: 5px;
	padding: 5px;
/*	justify-items: space-evenly;
	align-content: space-between;
	justify-content: space-between;*/
	/*width: 100%;*/
	/*height: fit-content;*/
	/*height: auto;*/
	/*width: auto;*/
	/*gap: 90px;*/
	/*vertical-align: middle;*/
	/*align-items: flex-end;*/
	/*width: 100%;*/
}

/*.galeria .photos {
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
	justify-items: space-evenly;
	justify-items: space-evenly;
	justify-content: space-evenly;
	grid-template-rows: repeat(auto-fit, minmax(430px, 3fr));
}*/

.photos {
	display: inline-block;
	flex-direction: row;
	position: relative;
	align-content: space-between;
	justify-items: space-evenly;
	width: auto;
	margin: 0 auto;
	justify-content: space-evenly;
	/*align-items: flex-end;*/
	padding: 10px;
	box-shadow: 0 0 10px grey;
	image-rendering: ;
}

.photos i:hover {
	color: black;
	text-decoration: none;
	text-shadow: none;
	box-shadow: 0 0 40px grey;
}

/*.galeria > span {
	max-width: 100%;
	display: inline-block;
	flex-flow: column wrap;
	width: 100%;
	align-content: space-between;
	justify-content: space-evenly;
	object-position: center;
	justify-content: space-evenly;
	align-content: space-around;
}*/

.galeria img {
	image-rendering: optimizeSpeed;
	width: 150px;
	height: 200px;
	margin: 5px;
	position: relative;
	object-fit: cover;
	transition: transform 0.5s;
	/*width: 100%;*/
	/*max-width: 100%;*/
	padding: 10px;

	/*align-items: flex-end;*/
}

.galeria span {
	display: inline-block;
	align-content: space-between;
	justify-items: space-evenly;
	width: 100%;
	align-items: center;
	text-align: center;
	margin: 0 auto;
	height: auto;
}

.galeria a:hover img {
	transform: scale3d(2.0, 1.0, 5.9);

}

.light-box {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	transition: transform 0.3s ease-in-out;
	width: 100%;
	height: 100vh;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0);
}

.light-box img {
	width: 75vw;
	max-height: 70vh;
	object-fit: cover;
}

.light-box:target {
	transform: scale(1.0);
}

.close {
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	background: #851919;
	text-align: center;
	color: #fff;
	text-decoration: none;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 50%;
}

.next {
	display: block;
	background: #851919;
	color: #fff;
	height: 50px;
	width: 50px;
	line-height: 50px;
	text-decoration: none;
	text-align: center;
	background-position: center;
}

/*.container {*/
	/*display: flex;
	position: relative;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	justify-items: center;
	position: relative;
	width: 100%;
	height: auto;	
	margin: 0 20px;
	padding: 0;*/
	/*box-shadow: 0 0 0 0 lavender;*/
/*}*/




/*prueba1*/
.text1 {
	color: rgb(210, 150, 0);
	text-align: center;
	width: auto;
	/*align-items: center;*/
	/*vertical-align: middle;*/
}

.cuerpo > div
.cuerpo .contenido {
	text-align: center;
	align-content: center;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	grid-gap: 0;
	/*vertical-align: baseline;*/
	/*columns: 3;*/
	/*width: 100%;*/
	grid-template-columns: repeat(auto-fit, minmax(530px, 1fr));
}

.cuerpo .contenido {
	/*grid-column: span 3;*/
	padding: 5px;
	align-content: center;
	justify-content: center;
/*	align-items: flex-start;*/
	justify-items: center;
	text-align: center;
	display: grid;
	flex-direction: column;
	grid-gap: 0;
	/*vertical-align: middle;*/
	margin-bottom: 30px;
	/*grid-template-rows: auto auto auto;*/
	columns: 3;
	grid-gap: 10px;
	/*color: black;*/
}

.contenido {
	display: grid;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	user-select: none;
	margin: 0 auto;
	grid-gap: 0;
	padding: 0;
	justify-content: center;
	justify-items: center;
	/*vertical-align: baseline;*/
	text-align: justify-all;
	align-content: center;
	/*align-items: flex-start;*/
	width: 70%;
	max-width: 90%;
	/*columns: 3;*/
	grid-template-columns: repeat(auto-fit, minmax(530px, 3fr));
	grid-gap: 10px;
	column-gap: 5px;
	/*color: grey;*/
}


.cuerpo .tt1 {
	
	display: flex;
	flex-direction: column;
	/*text-align: justify;*/
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	padding: 5px;
	margin: 20px 0;
	/*width: 90%;*/
	grid-column: 1 / 3;
	grid-row: 1;
	font-size: small;
	color: dimgrey;
	/*border-color: black;*/
	/*border-style: solid;*/
	box-shadow: 0 0 10px grey;
	box-sizing: border-box;
}

.cuerpo .tt2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*text-align: center;*/
	/*justify-content: stretch;*/
	/*text-align: center;*/
	/*justify-content: center;*/
	margin: 20px 0;
	/*width: 50%;*/
	padding: 5px;
	grid-row: 2 / 3;
	grid-column: 1;
	font-size: small;
	/*line-height: 20px;*/
	/*grid-column-gap: 10px;*/
	padding: 10px;
	color: dimgrey;
	box-shadow: 0 0 10px grey;
}

.cuerpo .tt3 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*text-align-last: center;*/
	padding: 10px;
	margin: 20px 0;
	/*width: 50%;*/
	/*height: 100%;*/
	grid-column: 2;
	grid-row: 2 / 3;
	font-size: small;
	/*line-height: 20px;*/
	/*grid-column-gap: 10px;*/
	/*padding: 10px;*/
	text-transform: uppercase;
	color: dimgrey;
	box-shadow: 0 0 10px grey;
}

.valores {
	display: block;
	flex-direction: column;
	grid-template-columns: auto auto;
	padding-left: 0;
	/*width: 80%;*/
	columns: 2;
	justify-content: center;
	padding: 0;
	margin: 0 auto;
	grid-gap: 10px;
	padding-left: 0;
	width: 100%;
}

.valores > li {
	padding-left: 0;
	list-style: none;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 0;
	align-content: stretch;
}


/*CONTACT PAGE*/

.bann {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	background-image: url("../img/banner2.png");	
	background-repeat: no-repeat;	
	background-size: cover;
	background-position: center;
	object-fit: cover;
	width: 100%;
	height: 800px;
	margin: 0;
	padding: 0;
	opacity: 0.7;
	align-content: center;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	align-self: center;
	justify-self: center;

}

.p5 {
	background-color: rgba(0, 0, 0, 0.3);
	display: block;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-content: center;
	align-self: center;
	/*line-height: 20px;*/
	align-self: center;
	justify-self: center;
	margin: 0 auto;
	/*vertical-align: middle;*/
	/*top: 20%;*/
	bottom: 20%;
	/*left: 10%;*/
	z-index: 1;
	width: 100%;
	height: fit-content;
}

.card {
	display: block;
	flex-direction: column;
	position: relative;
	/*margin: 0 auto;*/
	box-sizing: border-box;
	/*width: 100%;*/
	/*height: 300px;*/
	padding: 0;
}

.boton {
	display: flex;
	flex-direction: row;
	position: relative;
	object-position: center;
	align-content: center;
	align-items: center;
	justify-content: center;
	justify-items: center;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.bibi a > i {
	display: block;
	margin: 5px;
	gap: 10px;
	color: white;
}


.cuerpo {
	display: inline-flex;
	position: relative;
	/*width: auto;*/
	height: auto;
	margin: 80px auto;
	align-items: stretch;
	align-content: center;
	/*justify-content: center;
	justify-items: center;*/
	padding: 10px;
	text-align: center;
	width: auto;
	height: auto;
	max-width: 2900px;
	justify-content: space-between;
	justify-items: space-between;
	vertical-align: baseline;
	/*background-color: grey;*/
}

.ladoA {
	display: block;
	position: relative;
	width: 25%;
	margin: 40px auto;
/*	line-height: 25px;*/
}

.ladoB {
	display: inline-flex;
	flex-direction: column;
	position: relative;

	width: 100%;
	margin: 0;
	align-content: stretch;
	align-items: stretch;
	justify-content: space-between;

}

.wordColor {
	color: black;
}

/*768px*/

@media (max-width: 768px) {

.navbar-toggler i.active {
	color: grey;
}

.navbar {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	align-content: space-between;
	justify-items: space-between;
	align-items: center;
	/*align-content: flex-start;*/
	justify-content: center;
	justify-items: center;
	align-content: flex-end;
	align-items: center;
	/*align-items: flex-start;*/
	width: 100%;
	height: auto;
	margin: 0 auto;
	/*align-self: center;*/
	/*justify-self: center;*/
	/*justify-self: center;*/
	/*align-self: center;*/
}

.socialnav {
	width: auto;
}

.navbar-brand {
	/*text-align: right;*/
	width: auto;
}

.menu {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	/*align-content: flex-end;*/
	/*text-align: right;*/
	margin: 0 auto;
	width: 100%;
	height: fit-content;
	/*justify-content: flex-end;
	justify-items: flex-end;
	align-content: flex-end;
	align-items: center;*/
	/*justify-self: right;
	align-self: right;*/
}

.navbar-nav {
	display: flex;
}

.navbar-nav > li {
	display: inline-flex;
	position: relative;
	flex-direction: row;
	width: auto;
	height: fit-content;
	margin: 5px;

}

/*.container-fluid {
	display: inline-flex;
	flex-direction: row;
	position: relative;
	width: 100%;
	height: fit-content;
	align-content: center;
	align-items: center;
	alignment-baseline: auto;
	margin: 0 auto;
}*/

/*.container-fluid button {
	 
	display: flex;
	flex-direction: row;
	width: auto;
	justify-items: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	vertical-align: middle;*/
/*	padding: 5px;*/
/*	margin: 0 auto;
}
*/
/*.navbar-collapse {*/
	/*position: relative;
	display: flex;
	flex-direction: row;*/
	/*flex-wrap: wrap;*/
/*	align-items: center;*/
	/*object-position: right;*/
/*	width: auto;
	height: fit-content;
	margin: 0 auto;
	justify-content: center;
	align-content: center;
	justify-content: center;
	justify-items: center;
}*/

/*.cuerpo {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	margin: 30px auto;
	padding: 0;*/
/*	align-content: center;*/
/*	grid-template-rows: auto auto auto;*/
/*	width: auto;
	align-items: stretch;
}*/

/*.cuerpo .contenido {
	grid-column: span 3;
	padding: 5px;
	align-content: center;
	justify-content: center;
	align-items: flex-start;
	justify-items: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	grid-gap: 0;
	vertical-align: middle;
	margin-bottom: 30px;
	grid-template-rows: auto auto auto;
	columns: 3;
	grid-gap: 10px;
}*/

/*.contenido {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	user-select: none;
	margin: 0 auto;
	grid-gap: 0;
	padding: 0;
	justify-content: center;
	justify-items: center;
	vertical-align: baseline;
	text-align: justify-all;
	align-content: center;
	align-items: flex-start;
	width: 70%;
	max-width: 90%;
	columns: 3;
	grid-template-rows: auto auto auto;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	column-gap: 5px;
}*/


.cuerpo .tt1 {
	
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	/*width: 90%;*/
	/*grid-column: 1 / 3;*/
	grid-row: 1;
	font-size: small;
}

.cuerpo .tt2 {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	/*text-align: center;*/
	/*justify-content: stretch;*/
	/*text-align: center;*/
	/*justify-content: center;*/
	margin: 0 auto;
	/*width: 50%;*/
	padding: 5px;
	grid-row: 2;
	/*grid-column: 1;*/
	font-size: small;
	/*line-height: 20px;*/
	grid-column-gap: 10px;
	padding: 10px;
}

.cuerpo .tt3 {
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	/*align-items: center;*/
	padding-left: 0;
	height: auto;
	/*grid-column: 2;*/
	grid-row: 3;
	font-size: small;
	/*line-height: 20px;*/
	grid-column-gap: 10px;
	padding: 5px;
/*	scroll-behavior: auto;*/

}

.valores {
	display: flex;
	flex-direction: column;
	grid-template-columns: auto;
	padding-left: 0;
	/*width: 80%;*/
	/*columns: 2;*/
	justify-content: center;
	padding: 0;
	margin: 0 auto;
	grid-gap: 2px;
	padding-left: 0;
	width: 100%;
}

.valores > li {
	padding-left: 0;
	list-style: none;
	position: relative;
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	padding-top: 0;
	align-content: stretch;
}

/*.cuerpo > div
.cuerpo .contenido {
	text-align: center;
	align-content: center;
	display: block;
	flex-direction: row;
	text-align: center;
	justify-content: center;
	justify-items: center;
	align-content: center;
	grid-gap: 0;
	margin: 0 auto;*/
	/*vertical-align: baseline;*/
	/*columns: 3;*/
/*	width: 100%;*/
	/*grid-template-rows: repeat(auto-fit, minmax(430px, 3fr));*/
/*}*/

.cuerpo {
	display: flex;
	flex-direction: row;
	position: relative;
	align-items: flex-start;
	justify-content: space-between;
	vertical-align: top;
	grid-row-gap: 20px;
	gap: 20px;
	/*margin: 10px 20px;*/
}

.ladoA {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
	/*vertical-align: text-top;*/
	margin: 60px auto;
	/*align-items: stretch;*/
	justify-content: space-evenly;
	justify-items: space-evenly;
	gap: 20px;
	/*padding: 10px;*/
}

}


.cuerpo {
	display: flex;
	position: relative;
	align-items: flex-start;
	margin: 0 auto;
	padding: 0;
}


.navbar-collapse {
	display: inline-flex;
	position: relative;
	flex-direction: row;
/*	align-items: flex-end;*/
	margin: 0 auto;
	width: auto;
	height: auto;
/*	background-color: white;*/
/*	align-content: space-between;*/
/*	align-content: space-between;*/
/*	justify-content: space-between;*/
/*	justify-items: space-between;*/
/*	align-items: center;*/

}

.navbar-nav {
	display: flex;
	flex-direction: row;
	position: relative;
/*	align-items: center;*/
	margin: 0 auto;
	width: auto;
	height: auto;
	/*align-content: space-between;
	justify-content: space-between;
	justify-self: space-between;*/
/*	align-self: stretch;*/
}

.nav-item {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0 auto;
	height: auto;
	position: relative;
}