<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= title %></title>
	<link rel="stylesheet" href="">
	<%-include('partials/head.html')%>
</head>
<body>

    <%-include('partials/navigation2.html')%>

    <!-- <div class="container p-5">
    	<div class="row">
    		<div class="col-md-4 offset-md-4">
    			<div class="card">
    				<div class="card-header bg-dark text-white text-center">
    					<h3>Contactanos</h3>
    				</div>
    				<div class="card-body">
    					<form action="">
    						<div class="form-group">
    							<input type="text" name="" class="form-control" placeholder="Email">
    						</div>
    					</form>
						<br>
    					<form action="">
    						<div class="form-group">
    							<textarea class="form-control" name="" placeholder="Comentarios" cols="30" rows="10"></textarea>
    						</div>
							<br>
    						<div class="form-group">
    							<button class="btn btn-primary btn-block">
    								Enviar
    							</button>
    						</div>
    					</form>
    				</div>
    			</div>
    			
    		</div>
    		
    	</div>
    	
    </div> -->


<article class="container">
    <div class="bann">
      <div class="p5">
        <div class="col-md-4 offset-md-4">
          <div class="card">
            <div class="card-header bg-dark text-white text-center">
              <h3 style="color: whitesmoke;">CONTACTO</h3>
            </div>
            <div class="card-body">
              <form action="ff">
                <div class="form-group">
                  <input type="text" name="" class="form-control" placeholder="Email">
                </div>
              </form>
            <br>
              <form action="ff">
                <div class="form-group">
                  <textarea class="form-control" name="" placeholder="Comentarios" cols="30" rows="10"></textarea>
                </div>
              <br>
                <div class="form-group">
                  <button class="btn btn-primary btn-block">
                    Enviar
                  </button>
                </div>
              </form>
            </div>
          </div>          
        </div>        
      </div>     
    </div>
</article>

    <%-include('partials/footer.html')%>

</body>
</html>