<!DOCTYPE html>
<html>

<head>
  <title><%=title%></title>
  <%-include('partials/head.html')%>

</head>

<body>


  <%-include('partials/navigation1.html')%>

  <hr>
<button><a href="/"><i class="bi bi-back"></i></a></button>

    <section>
        <div class="img2">

          <h4>Proyecto Brisas de Arraíjan</h4>

          <span><a><img id="imgen" src="/img/ProyectoBrisas.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" width="300" height="165" alt="ProyectoBrisasArraijan" width="300"></a>

          <a><img src="/img/pisosymallas.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" alt="Pisos y Mallas" width="300"></a>

          <a><img src="/img/Lasnaves.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" alt="BrisasArraijan" width="300"></a>
          
          <a href="/img/pbrisas.jpg" onclick="javascript:this.width= 700" onmouseout="javascript:this.width=300" alt="ProyectoBrisasArraijan" width="300" height="170"></a>


          <a href="/img/proyecto1.jpg" target="_blank"><img src="/img/proyecto1.jpg" width="300" height="170"></a>

          <a href="/img/proyecto2.jpg" target="_blank"><img src="/img/proyecto2.jpg" width="300" height="170"></a>

          <a href="/img/proyecto3.jpg" target="_blank"><img src="/img/proyecto3.jpg" width="300" height="170"></a>

          <a href="/img/proyecto4.jpg" target="_blank"><img src="/img/proyecto4.jpg" width="300" height="170"></a>

          <a href="/img/proyecto5.jpg" target="_blank"><img src="/img/proyecto5.jpg" width="300" height="170"></a>

          <a href="/img/proyecto6.jpg" target="_blank"><img src="/img/proyecto6.jpg" width="300" height="170"></a>

          <a href="/img/proyecto7.jpg" target="_blank"><img src="/img/proyecto7.jpg" width="300" height="170"></a>

          <a href="/img/proyecto8.jpg" target="_blank"><img src="/img/proyecto8.jpg" width="300" height="170"></a>

          <a href="/img/proyecto9.jpg" target="_blank"><img src="/img/proyecto9.jpg" width="300" height="170"></a>

          <a href="/img/proyecto4.jpg" target="_blank"><img src="/img/proyecto4.jpg" width="300" height="170"></a>

          <a href="/img/proyecto4.jpg" target="_blank"><img src="/img/proyecto4.jpg" width="300" height="170"></a></span>

      
          <h4>Construcción en Zona Rural</h4>

          <span><a><img src="/img/casap1.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" width="300" alt="casarural"></a>

          <a><img src="/img/casap2.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" width="300" alt="casarural"></a>

          <a><img src="/img/casap3.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" width="300" alt="casarural"></a>

          <a href="/img/casapenonome.jpg" target="_blank"><img src="/img/casapenonome.jpg" width="300" height="170"></a></span>

          <h4>Zonas de Difícil Acceso</h4>

          <span><a><img src="/img/Mejorandoelcampo.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" width="300" alt="CaminoRural"></a>

          <a><img src="/img/Mejorandocaminos.jpg" onclick="javascript:this.width=700"  onmouseout="javascript:this.width=300" width="300" height="170" alt="CaminoRural"></a>

          <a><img src="/img/camino.jpg" onclick="javascript:this.width=700" onmouseout="javascript:this.width=300" width="300" alt="camino" width="300"></a></span>


          <h4>Otras Fotos</h4>

          <span><a href="/img/casalascumbres.jpg" target="_blank"><img src="/img/casalascumbres.jpg" width="300" height="170"></a>

          <a href="/img/camionizuzu.jpg" target="_blank"><img src="/img/camionizuzu.jpg" width="300" height="170"></a>
          
          <a href="/img/izuzu2.jpg" target="_blank"><img src="/img/izuzu2.jpg" width="300" height="170"></a></span>
        </div>  
    </section>

    <hr>

    <!-- <h1 id="t1">PROYECTOS</h1>
    <span class="linea"></span>

    <div class="container">
      <section class="galeria">

        <span class="row">
          <h3>Zona de Difícil Acceso</h3>
          <div class="gal">
            <a href="#image1"><img src="/img/Mejorandoelcampo.jpg" alt="CaminoRural" width="300"></a>

            <a href="#image2"><img src="/img/Mejorandocaminos.jpg" alt="CaminoRural" width="400" height="170"></a>

            <a href="#image3"><img src="/img/camino.jpg" alt="camino" width="300"></a>
          </div>
        </span>



        <span class="row">
          <h3>Proyecto Brisas de Arraijan</h3>
          <div class="gal">
            <a href="#image5"><img src="/img/pisosymallas.jpg" width="300"></a>

            <a href="#image6"><img src="/img/Lasnaves.jpg" alt="BrisasArraijan" width="300"></a>

            <a href="#image7"><img src="/img/pbrisas.jpg" alt="ProyectoBrisasArraijan" width="300" height="170"></a>
          </div>
        </span>



        <span class="row">
          <h3>Construcción en zona rural</h3>
          <div class="gal">
            <a href="#image8"><img src="/img/casap1.jpg" width="300" alt="casarural"></a>

            <a href="#image9"><img src="/img/casap2.jpg" width="300" alt="casarural"></a>

            <a href="#image10"><img src="/img/casap3.jpg" width="300" alt="casarural"></a>
          </div>
        </span>

      </section>
    </div> -->

    <%-include('partials/footer.html')%>

</body>
</html>